@import "@/assets/css/mixin.scss";
$baseinfo-personinfo: "baseinfo-personinfo";

.#{$baseinfo-personinfo} {
  &-content {
    padding-left: 5px;
    .cell {
      display: flex;
      margin-top: -1px;
      margin-left: -1px;
      height: 48px;
      line-height: 48px;
      // align-items: center;
      .cell-label {
        padding: 0 10px;
        width: 116px;
        background: var(--table-color-bg-header-cell-right);
        border: 1px solid var(--table-color-border);
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: var(--text-color);
      }

      .cell-value {
        background: var(--layout-vertical-content-body-bg-color);
        border: 1px solid var(--table-color-border);
        overflow-wrap: break-word;
        word-break: break-all;
        margin-left: -1px;
        padding: 0 10px;
        flex: 2;
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
        display: flex;
        align-items: center;
        overflow: hidden;
        .ysd-radio-group {
          height: 48px;
        }
        .ysd-select,
        .ysd-cascader,
        .ysd-input-wrapper,
        .ysd-picker {
          width: 200px;
          line-height: initial;
        }
        .ysd-picker-dropdown {
          width: 280px;
          line-height: initial;
        }
      }
      &.edit-place {
        .ysd-cascader {
          width: 200px;
          margin-right: 5px;
        }
        .ysd-input-wrapper {
          width: calc(100% - 200px);
        }
      }
      &.edit-work {
        .ysd-input-wrapper {
          width: 100%;
        }
      }
      .value {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &-loading {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
