$export-cls: #{$prefix}-export;
$export-btn-cls: #{$prefix}-export-btn-wrap;
$export-modal-cls: #{$prefix}-export-modal;

.#{$export-btn-cls} {
  width: var(--export-btn-width);
  button {
    min-width: var(--export-btn-width);
    padding: 0;
  }
}

.#{$export-cls} {
  &-tabs {
    text-align: center;
    margin: var(--export-tabs-margin);
  }
  &-range {
    width: var(--export-main-width);
    margin: 0 auto;
    &-item {
      height: 36px;
      // background: #ffffff;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 0 10px;
      margin: 10px 0;
      position: relative;
      &.ysd-radio-wrapper-checked {
        background: rgba(51, 119, 255, 0.05);
        border: 1px solid #3377ff;

        .primary-checked {
          color: var(--primary-color);
        }
      }
      .checked-total {
        position: absolute;
        right: 10px;
        top: 50%;
        color: var(--primary-color);
        transform: translateY(-50%);
      }
      .ysd-radio {
        top: 0;
      }
      .primary-checked {
        margin-right: 8px;
        white-space: nowrap;
      }
      .#{$export-cls}-separator {
        margin: 0 4px;
      }
    }
    .ysd-input-number {
      width: var(--export-input-width);
      width: 80px;
      height: 24px;
      border-radius: 4px;
      // .ysd-input-inner {
      // }
    }
  }
  &-tip {
    display: flex;
    .ysd-icon {
      margin-right: 10px;
      line-height: 22px;
      color: #ff8d1a;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      em {
        font-style: normal;
        color: var(--export-total-color);
      }
    }

    &-progress {
      background-color: rgba(255, 141, 26, 0.1);
      color: #ff8d1a;
      padding: 8px 10px;
      border-radius: 4px;
      margin-top: 16px;

      & > div {
        display: flex;
      }
    }
  }

  &-progress {
    .ysd-progress-outer {
      padding-right: calc(2em + 16px);
    }
    .ysd-progress-text {
      margin-left: 0;
    }
  }
  &-tip-check {
    width: var(--export-main-width);
    margin: 18px auto;
  }
  &-footer {
    display: flex;
    justify-content: center;
    button {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &-result {
    text-align: center;

    &.success {
      .icon-wrap {
        background-color: rgb(0, 204, 102, 0.1);
        color: var(--success-color);
      }
    }

    &.error {
      .icon-wrap {
        background-color: rgba(255, 141, 26, 0.1);
        color: var(--warning-color);
      }
    }

    .icon-wrap {
      margin: 0 auto;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 24px;
      line-height: 60px;
      margin-bottom: 20px;
    }

    .text {
      font-weight: bold;
      font-size: 24px;
    }

    .success-text,
    .error-text {
      font-size: 16px;
      margin: 16px 0 50px;

      .total {
        color: #00cc66;
        font-weight: bold;
      }
    }
  }
}

.#{$export-modal-cls} {
  header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
