.card-identify-item {
  border: 1px solid var(--base-color1-30);
  border-radius: 4px;
  position: relative;

  &:hover {
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.1);
  }

  &.checked {
    border-color: var(--primary-color);
  }

  &-head {
    display: flex;
    justify-content: space-between;
    line-height: 24px;

    .head-left {
      display: flex;
      .serial-number {
        display: block;
        border-radius: 4px 0px 4px 0px;
        background-color: var(--primary-color);
        // opacity: 0.5;
        color: #fff;
        font-weight: bold;
        min-width: 32px;
        line-height: 24px;
        text-align: center;
        margin-right: 4px;
      }
      .number {
        color: var(--primary-color);
      }
    }
    .head-right {
      color: var(--primary-color);
      cursor: pointer;
      margin-right: 10px;
      user-select: none;
    }
  }
  &-con {
    padding: 10px;
    .infos-con {
      display: flex;
      flex-wrap: wrap;
      @include sfp.flex-gap((0 4px));
      width: 100%;
      // min-height: 160px;

      .no-infos {
        width: 100%;
        text-align: center;
        line-height: 160px;
      }
    }
    .identify-img-item {
      width: 120px;
      position: relative;
      margin-bottom: 8px;

      .ysd-image-wrapper {
        height: 120px;
      }
      .similarity {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: var(--danger-color);
        margin: 8px 0;

        &::before,
        &::after {
          border-color: var(--danger-color);
        }
        .ysd-divider-inner-text {
          .last {
            font-size: 14px;
          }
          .first {
            font-size: 20px;
          }
        }
        // &::before,
        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 50%;
        //   left: 0;
        //   width: 22px;
        //   height: 1px;
        //   background-color: var(--danger-color);
        // }
        // &::after {
        //   right: 0;
        //   left: unset;
        // }
      }
      .infos-residue {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background-color: var(--primary-color-10);
        border-radius: 4px;
        color: var(--primary-color);
        font-size: 24px;
        font-weight: bold;
      }
      .img-wrap {
        position: relative;
      }
      .retrieval {
        position: absolute;
        left: 4px;
        bottom: 4px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        padding: 2px;
      }
      .gait-number {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px 4px 0px 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 0 8px;
        line-height: 24px;
        font-size: 12px;
        .ysd-icon {
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }
    .card-info {
      .ysd-icon {
        margin-right: 4px;
        opacity: 0.5;
      }
      .location {
        // &:hover {
        //   text-decoration: underline;
        // }
        &.can-click {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
