.record-detail-no-data {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 200px;
  @include sfp.flex-gap(10px);
  .ysd-icon {
    opacity: 0.5;
    font-size: 50px;
  }
}
