@import '@/assets/css/mixin.scss';

.person-regional-mapping-info-card {
  display: flex;
  @include sfp.flex-gap((0, 10px));
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  }

  &.active {
    border-color: var(--primary-color);
  }

  &.dubious {
    position: relative;

    .left {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 130px;

      .target-info {
        font-size: 14px;
        text-align: center;
        @include text-ellipsis();

        .time {
          color: var(--primary-color);
        }
      }

      .target-img {
        width: 100%;
        height: 130px;
        margin-bottom: 10px;
      }
    }

    .right {
      width: calc(100% - 140px);
    }

    .card-checkbox {
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  &.peer {
    .left {
      width: 164px;

      .num-box {
        display: flex;
        align-items: center;
        @include sfp.flex-gap((0, 12px));
      }

      .img-box {
        display: flex;
        @include sfp.flex-gap((0, 4px));
        margin-top: 10px;

        >div {
          >div:first-child {
            width: 80px;
            height: 80px;
            margin-bottom: 8px;
          }
        }

        .peer-img {
          position: relative;

          &::before {
            content: '同行人';
            position: absolute;
            z-index: 1;
            width: 44px;
            height: 24px;
            background: rgba(0, 0, 0, 0.70);
            border-radius: 4px 0px 10px 0px;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 24px;
          }
        }
      }
    }

    .right {
      width: calc(100% - 174px);
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    >div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ysd-icon {
        margin-right: 5px;
        opacity: .5;
      }

      .location {
        display: flex;

        >span:last-child {
          @include text-ellipsis()
        }
      }
    }

    >div:first-child {
      padding-bottom: 7px;
      border-bottom: 1px dashed var(--border-color);
    }

    >div:last-child {
      padding-top: 9px;
    }

  }

  .name {
    font-size: 16px;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
  }

  .ysd-checkbox-inner {
    width: 24px;
    height: 24px;
  }

  .ysd-checkbox-checked .ysd-checkbox-inner:after {
    left: 30%;
  }


}
