$relation-card: "relation-card";

.#{$relation-card} {
  width: 360px;
  height: 140px;
  padding: 10px;
  display: flex;
  // border: 1px solid #3377ff;
  border: 1px solid var(--tabs-line-border);
  border-radius: 4px;
  margin-bottom: 12px;
  cursor: pointer;
  .item-left {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    margin-right: 12px;
  }
  .item-right {
    flex: 1;
    .name {
      font-size: 18px;
      font-family: Microsoft YaHei, Microsoft YaHei-Bold;
      font-weight: 700;
      color: var(--color-text);
      height: 30px;
    }
    .sex-age {
      height: 25px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-text);
        display: inline-block;
        margin-right: 30px;
      }
    }
    .id-card {
      color: #3377ff;
      height: 30px;
    }
    .person-info {
      span {
        color: #3377ff;
        margin: 0 5px;
      }
    }
    .location {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-text);
    }
  }
}
