.form-id-number {
  position: relative;
  .batch-switch {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 32px;
    color: var(--primary-color);
    cursor: pointer;
    user-select: none;
  }

  .ysd-select {
  }
  .fusion3-form-plate-form-input {
    width: 108px !important;
  }

  .plate-batch-import {
    display: flex;
    .ysd-upload-wrap {
      width: 174px;
      height: 32px;
      line-height: 32px;
      margin-right: 12px;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      border-radius: 4px;
      text-align: center;
      .ysd-upload {
        width: 100%;
        height: 100%;
      }
    }
    a {
      line-height: 32px;
      color: var(--primary-color);
      cursor: pointer;
    }

    .has-import {
      position: relative;
    }
  }
}

.import-result-modal {
  .ysd-modal-header {
    border: none;
    padding: 0;
    .ysd-modal-title {
      .ysd-icon {
        background-color: transparent;
        color: var(--warning-color);
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
  .ysd-modal-content {
    padding: 10px 20px 0;
    .success {
      span {
        color: var(--success-color);
      }
    }
    .fail {
      span {
        color: var(--danger-color);
      }
    }
    a {
      color: var(--primary-color);
    }
  }
}
