.record-detail-nav {
  color: var(--text-color);
  .nav-container {
    .title {
      height: 32px;
      line-height: 32px;
      position: relative;
      padding-left: 10px;
      font-weight: bolder;
      margin: 7px 0;
      &::before {
        content: "";
        width: 4px;
        border-radius: 2px;
        height: 12px;
        top: 10px;
        left: 0;
        position: absolute;
        background: var(--primary-color);
      }
    }
    &:first-child{
      .title{
        margin-top: 0;
      }
    }
    .nav-wrapper {
      display: flex;
      flex-direction: column;
      background: #f3f3f4;
      @include sfp.flex-gap((7px, 0));
      .nav-item {
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        cursor: pointer;
        padding-left: 10px;
        position: relative;
        .count{
          position: absolute;
          left: 88px;
        }
        &.active {
          background: var(--primary-color);
          color: #fff;
        }
      }
    }
  }
}
