.card-box {
    // width: 452px;
    // height: 250px;
    // border: 1px solid var(--base-color1-20);
    // border-radius: 4px;
    // color: var(--table-color-text-body-cell);
    &:hover {
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    }
    flex-grow: 1;
    flex-shrink: 1;
    width: 436px;
    height: 250px;
    max-width: 500px;
    padding: 10px;
    margin-right: 18px;
    margin-bottom: 18px;
    background-color: var(--base-color2);
    border-radius: 4px;
    border: 1px solid var(--base-color1-10);
    position: relative;
    .title-top {
        // height: 28px;
        // background: var(--image-similarity-bg) no-repeat;
        // vertical-align: bottom;
        // display: flex;
        // align-items: flex-end;
        margin: -10px 0 10px -10px;
        height: 28px;
        line-height: 28px;
        background: var(--image-similarity-bg) no-repeat;
        background-position: 0 0;
        padding-left: 8px;
        border-bottom: 1px solid var(--base-color1-10);
        width: calc(100% + 20px);
        span {
            color: #fff;
            // position: absolute;
            // bottom: 0;
        }
        span:nth-child(1) {
            // margin-left: 6px;
            // font-size: 18px;
            // font-weight: 700;
            font-size: 18px;
            font-weight: 700;
        }
        span:nth-child(2) {
            // font-weight: 700;
            // margin-bottom: 1px;
            font-weight: 700;
        }
    }
    .card-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 40px;
        margin: 0;
        // height: 40px;
        // line-height: 39px;
        // border-top: 1px solid var(--base-color1-10);
        // padding: 0 10px;
        // display: flex;
        // gap: 0 16px;
    }
    .content-box {
        // height: 182px;
        // padding: 10px;
        // display: flex;
        // border-top: 1px solid var(--base-color1-20);
        // border-bottom: 1px solid var(--base-color1-20);
        // position: relative;
        display: flex;
        position: relative;
        .card-checked {
            // position: absolute;
            // left: 18px;
            // top: 16px;
            // z-index: 2;
            position: absolute;
            left: 8px;
            top: 8px;
            z-index: 2;
            .ysd-checkbox {
                .ysd-checkbox-inner {
                    width: 24px;
                    height: 24px;
                    &::after {
                        left: 28%;
                    }
                }
            }
        }
        .card-img {
            // flex: 1;
            // border: 1px solid black;
            // flex: 1 1;
            width: 162px;
            height: 162px;
            border: 1px solid var(--base-color1-10);
            border-radius: 4px 0px 0px 4px;
            cursor: pointer;
            .ysdb-img-zoom {
                height: 162px;
                width: 162px;
                .ysdb-img-zoom-original-pic{
                    height: 162px;
                }
            }
        }
        .person-item {
            flex: 1.3 1;
            // border: 1px solid black;
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .add-title {
                margin-top: 10px;
                padding: 5px;
            }
            .person-info {
                .ysd-icon {
                    opacity: 0.7;
                    margin-right: 6px;
                }
                padding: 5px;
            }
        }
    }
}
.ischecked {
    border-color: var(--primary-color);
}
