@import "../../../../../../assets/css/mixin.scss";
.label-operation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include sfp.flex-gap(5px);
  @include tag-item();
  .label-item {
    &:nth-child(2n) {
      margin-right: 0;
    }

  }
}
.label-operation-tag-more {
  .ysd-popover-inner-content {
    max-width: 322px;
    .tag-more {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      @include sfp.flex-gap(6px);
      .label-item {
        &:nth-child(3n) {
          margin-right: 0;
        }
    
      }
    }
    @include tag-item();
  }
}
