@import "~@/assets/css/mixin.scss";
.modal-feedback {
    .ysd-modal-content {
        @include scrollBar();
        max-height: 400px;
        overflow-y: auto;
        .feedback-info {
            // box-sizing: border-box;
            display: inline-block;
            background-color: rgba(0,204,102,0.10);
            // border-bottom: 1px dashed var(--divider-border-color);
            padding: 4px 8px;
            margin-bottom: 10px;
            color: #00CC66;
            border-radius: 14px;
            // font-size: 18px;
            // display: flex;
            // justify-content: center;
            .ysd-icon{
                margin-right: 5px;
            }
        }
        .ysd-upload-wrap {
            width: 100%;
            // .ysd-upload {
            //     display: flex;
            //     .ysd-upload-trigger{
            //         width: ;
            //     }
                .ysd-upload-trigger-tip{
                    // text-overflow: ;
                    // overflow:visible
                    color:var(--danger-color);
                }
            // }
        }
        .progress-line{
            width: 97%;
        }
    }
}
// .modal-feedback
