@import "~@/assets/css/mixin.scss";
$auth-approve: "auth-approve";

.#{auth-approve} {
  padding: 20px 10px;
  height: 100%;
  &-tab {
    width: 100%;
  }
  &-search-input {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  &-content {
    height: calc(100% - 100px);
    @include scrollBar();
    .result-total {
      margin: 16px 0;
      span {
        color: #3377ff;
        margin: 5px;
      }
    }
    .auth-table {
      .record-link {
        color: #3377ff;
        cursor: pointer;
      }
      .table-no-data {
        height: calc(100% - 200px);
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--resultbox-nodata-tip-color);
        font-size: 20px;
        letter-spacing: 2px;
        .no-data-img {
          height: 420px;
          width: 500px;
          background: var(--result-no-data-img) no-repeat center center;
        }
      }
      // .ysd-btn{
      //   min-width: auto;
      //   height: 24px;
      //   line-height: 24px;
      //   padding: 0 10px;
      // }
    }
    padding-bottom: 10px;
  }
  &-page-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 20px 0;
    border-top: 1px solid var(--tabs-line-border);
    justify-content: space-between;
    width: calc(100% - 20px);
    padding-left: 14px;
    .left {
      height: 32px;
      display: flex;
      align-items: center;
      .num {
        color: var(--danger-color);
        margin: 0 3px;
      }
      .ysd-btn {
        margin-left: 24px;
      }
    }
  }
  &-approve-modal {
    .content {
      padding: 40px 90px;
      padding-bottom: 10px;
      max-height: 400px;
      @include scrollBar();
      .approve-item {
        display: flex;
        margin-bottom: 10px;
        .label {
          width: 80px;
          height: 19px;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          color: var(--text-color);
          line-height: 22px;
        }
        .value {
          flex: 1;
        }
      }
      .reason {
        display: block;
        .label {
          height: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
    }
  }
  &-submit-approve-modal {
    .content {
      padding: 40px 90px;
      padding-bottom: 10px;
      max-height: 400px;
      @include scrollBar();
      .approve-item {
        margin-bottom: 15px;
        display: flex;
        .label {
          position: relative;
          span {
            position: absolute;
            top: 10px;
            left: -10px;
            color: #ff5b4d;
          }
        }
        .value {
          .more-queryInfo {
            text-align: right;
          }
        }
        .ysd-form-item-content-value {
          width: 335px;
          .ysd-picker {
            width: 335px;
          }
        }
        .ysd-form-item-content-label {
          width: 100px !important;
        }
      }
      .reason {
        display: block;
        .label {
          height: 20px;
          margin-bottom: 10px;
          span {
            top: 0;
          }
        }
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
    }
  }
}
