.deploy-anchor {
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    border-radius: var(--border-radius);
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-border-color);
    color: var(--button-primary-color);
    font-weight: bold;
  }
}
