.stay-time-distribute-wrap{
  width: calc(93% - 1px);
  // height: 210px;
  height: 199px;
  padding: 0 2px;
  display: flex;
  flex-flow: column nowrap;
  // margin-top: -28px;
  .stay-time-title{
    width: 100%;
    height: 27px;
    line-height: 27px;
    // margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    .title{
      width: 120px;
      font-size: 20px;
    }
    .tip-show{
      display: flex;
      .tip-item{
        margin-left: 15px;
        cursor: pointer;
        &>span{
          display: inline-block;
          width: 20px;
          height: 8px;
          border-radius: 4px;
          margin-right: 4px;
        }
        .tip-short{
          background:rgba(255,141,26,0.70);
          box-shadow: 0px 0px 4px 0px #ff8d1a;
        }
        .tip-night{
          background:rgba(255,91,77,0.70);
          box-shadow: 0px 0px 4px 0px #ff5b4d; 
        }
        .tip-days{
          background: rgba(51,119,255,0.70);
          box-shadow: 0px 0px 4px 0px #3377ff; 
        }
      }
    }
  }
  .stay-time-con{
    width: 100%;
    height: calc(100% - 40px);
    // flex: auto;
    padding-bottom: 30px;
    // background-color: #999;
    position: relative;
    .btn-prev{
      position: absolute;
      left: 22px;
      top: -15px;
      width: 0;
      height: 0;
      border: 6px solid;
      border-color: transparent transparent var(--divider-border-color) transparent;
      cursor: pointer;
      &.has-more{
        border-color: transparent transparent var(--layout-vertical-content-body-color) transparent;
      }
    }
    .btn-next{
      position: absolute;
      left: 22px;
      bottom: 15px;
      width: 0;
      height: 0;
      border: 6px solid;
      border-color: var(--divider-border-color) transparent transparent transparent;
      cursor: pointer;
      &.has-more{
        border-color: var(--layout-vertical-content-body-color) transparent transparent transparent;
      }
    }
    .stay-time-scroll-wrap{
      width: 100%;
      height: 100%;
      // &
      position: relative;
      float: left;
      z-index: 20;
      // overflow: hidden;
      overflow-x: hidden;
      overflow-y: auto;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        width: 0 !important
      }
      .stay-time-scroll{
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        .stay-time-item{
          display: flex;
          justify-content: space-between;
          // margin: 4px 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          width: 100%;
          height: 26px;
          .left-date{
            width: 58px;
            text-align: center;
            line-height: 18px;
          }
          .right-con{
            flex: auto;
            position: relative;
            .time-slot{
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -6px;
              height: 9px;
              border-radius: 6px;
              &.short{
                background:rgba(255,141,26,0.70);
                box-shadow: 0px 0px 4px 0px #ff8d1a;
              }
              &.night{
                background:rgba(255,91,77,0.70);
                box-shadow: 0px 0px 4px 0px #ff5b4d; 
              }
              &.days{
                background: rgba(51,119,255,0.70);
                box-shadow: 0px 0px 4px 0px #3377ff; 
              }
              &.hid{
                display: none;
              }
            }
          }
        }
      }
    }
    .stay-time-bg{
      width: calc(100% - 57px);
      height: calc(100% - 30px);
      border-left: 1px solid var(--divider-border-color);
      border-bottom: 1px solid var(--divider-border-color);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      .lines{
        width: 100%;
        height: 100%;
        display: flex;
        .line{
          width: 0px;
          height: 100%;
          border-right: 1px dashed var(--divider-border-color);
          margin-right: 47px;
          position: relative;
          &:first-child{
            border-right-color: transparent;
          }
          &>span{
            position: absolute;
            bottom: -24px;
            left: -16px;
          }
        }
      }
    }
  }
}
