@import "~@/assets/css/mixin.scss";

.person-regional-mapping {
  padding: 16px;

  &-content {
    position: relative;
    width: 100%;
    height: 100%;

    .ysc-map-container {
      border-radius: 4px;

      .custom-popup-box {
        background-color: var(--card-cross-bg);

        .track-popver-content {
          padding: 8px;

          &-card {
            .card-img {
              width: 262px;
              height: 214px;
            }

            .card-info {
              width: 194px;
              margin: 5px 0;
              white-space: nowrap;
              text-overflow: ellipsis;
              // display: -webkit-box;
              overflow: hidden;

              .ysd-icon {
                margin-right: 7px;
                opacity: 0.5;
              }
            }

            .btn-change {
              position: absolute;
              top: 50%;
              margin-top: -23px;
              width: 16px;
              height: 46px;
              border-radius: 2px;
              box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
              background-color: rgba(0, 0, 0, 0.5);
              color: #fff;
              line-height: 46px;
              text-align: center;
              cursor: pointer;

              &.btn-prev {
                left: -8px;
              }

              &.btn-next {
                right: -8px;
              }

              &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }

    .ysd-drawer-left {
      &.ysd-drawer-open {
        width: 436px !important;
      }

      .ysd-drawer-body {
        .left-search {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          &-wrapper {
            height: calc(100% - 70px);
            padding-right: 3px;
            @include scrollBar();

            .ysd-form {
              .ysd-form-item {
                margin-bottom: 16px;
              }

              .time-range-picker {
                .ysd-space {
                  display: flex;


                  .ysd-picker {
                    width: 100%;

                    .ysd-picker-range-separator {
                      padding: 0 4px;
                    }
                  }
                }
              }

              .location-map-list {
                .location-map-list-btn {
                  width: 100%;
                }
              }

              .btn-person-arrtibute {
                width: 100%;
                height: 32px;
                border: 1px solid var(--primary-color);
                border-radius: 4px;
                text-align: center;
                line-height: 32px;
                font-size: 14px;
                color: var(--primary-color);
                cursor: pointer;
              }
            }
          }

          &-btn {
            width: 100%;
            margin-bottom: 18px;
          }
        }
      }
    }

    .inner-drawer-container-left {
      background: rgba(34, 34, 38, 0.04);
    }

    .right-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-tabs {
        width: 250px;
        padding: 0;
        margin: 10px 0 9px 0;
        border-color: var(--border-color);

        .ysd-tabs-item-active.ysd-tabs-item-disabled:hover {
          background: var(--primary-color) !important;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        @include sfp.flex-gap((10px, 0));
        @include scrollBar();
      }
    }

    .left-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-target {
        flex-shrink: 0;
        display: flex;
        @include sfp.flex-gap((0, 10px));
        width: 100%;
        height: 150px;
        margin: 10px 0 9px 0;
        padding: 10px;
        background: var(--layout-vertical-content-body-bg-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;

        .target-img {
          width: 130px;
          height: 130px;
          cursor: pointer;
        }

        .target-info {
          & > div {
            height: 26px;
            line-height: 26px;
          }

          .name-age {
            > span:nth-child(2) {
              margin: 0 12px 0 0;
            }
          }

          .id-card {
            > span:last-child,
            a {
              color: var(--primary-color);
            }
          }
        }

        .card-info {
          display: flex;
          align-items: center;
          height: 26px;
          &-content {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .count {
              margin: 0 5px;
              color: var(--primary-color);
              font-style: normal;
            }
            .idcard {
              padding: 0;
              max-width: 160px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .ysd-icon {
            // margin-right: 6px;
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            @include sfp.flex-gap(5px);
            @include tag-item();
          }
        }

        .ysdb-result-box-loading,
        .ysdb-result-box-nodata {
          height: 100%;
        }

        .ysd-icon {
          opacity: 0.7;
          margin-right: 6px;
        }
        
        .no-name {
          font-size: 18px;
          font-weight: 700;
          height: 78px;
        }
      }

      &-list {
        flex: auto;
        display: flex;
        flex-direction: column;
        @include sfp.flex-gap((10px, 0));
        @include scrollBar();
      }
    }

    .right-content,
    .left-content {
      &-tools {
        display: flex;
        align-items: center;
        padding-top: 11px;
        margin-bottom: 10px;
        border-top: 1px solid var(--border-color);

        em {
          margin: 0 3px;
          font-style: normal;
          color: var(--primary-color);
        }

        .ysd-btn-md {
          min-width: 60px;
          height: 28px;
          padding: 0;
          line-height: 28px;
          margin-left: 16px;
        }

        .ysd-select {
          width: 134px;
          margin-left: auto;
          background: transparent;

          .ysd-select-view {
            text-align: right;
          }
        }
      }
    }
  }

  .fusion3-img-zoom-big-pic-wrap {
    width: 200px;
    height: 200px;
  }
}

.regional-mapping-big-img {
  height: 100%;

  &-info {
    margin-bottom: 10px;

    .yisa-panel-container {
      width: 100%;
      min-height: 68px;
      padding: 10px 16px;
      background: rgba(51, 119, 255, 0.06);
      border-radius: 4px;

      > div {
        &.name {
          margin-bottom: 10px;
        }

        label {
          margin-right: 8px;
          opacity: 0.6;
          font-size: 14px;
          line-height: 19px;
        }

        span {
          font-size: 14px;
          font-family:
            Microsoft YaHei,
            Microsoft YaHei-Bold;
          font-weight: 700;
          line-height: 19px;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 120px);

    .yisa-panel-container {
      @include scrollBar();
    }

    &-item {
      position: relative;
      width: 100%;
      min-height: 88px;
      padding: 32px 17px 10px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      margin-bottom: 10px;
      cursor: pointer;

      &.active {
        border-color: var(--primary-color);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .ysd-icon {
        margin-right: 5px;
        opacity: 0.5;
      }

      .location {
        display: flex;
        line-height: 22px;
        margin-top: 6px;
      }

      .status {
        margin-left: 5px;
        width: 45px;
        height: 22px;
        border-radius: 4px;
        text-align: center;

        &.go {
          background: rgba(0, 204, 102, 0.2);
          color: var(--success-color);
        }

        &.out {
          background: rgba(255, 91, 77, 0.2);
          color: var(--danger-color);
        }
      }

      .index {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 24px;
        background: rgba(51, 119, 255, 0.5);
        border-radius: 4px 0px 4px 0px;
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
