.basic-info {
  // min-height: 244px;
  .wrapper {
    display: flex;
    @include sfp.flex-gap(16px);
  }
  .info,
  .map {
    flex: 1;
    max-width: 50%;
  }
  .time-spans {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 100%;
    padding-left: 2rem;
    
  }
  .info {
    :last-child {
      max-width: 100%;
    }
  }
  .deployment-info-cell {
    min-width: 50%;
    max-width: 50%;
  }
}
