.deploy-detail {
  .tabs {
    width: 100%;
  }
  .form {
    @include sfp.flex-gap((0, 9px));
    .ysd-form-item {
      width: 250px;
    }
    .timer-picker {
      width: auto;
    }
    .search-btn {
      margin: 0 0 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .label-tooltip {
      cursor: pointer;
      display: inline-flex;
      @include sfp.flex-gap(10px);
    }
    .ysd-select-tag.ysd-input-tag-tag {
      max-width: 10em;
    }
  }

  .table {
    .time-spans {
      span {
        display: block;
      }
    }
    .ysd-table-td {
      padding: 8px;
    }
    .blue-cell {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--primary-color);
      cursor: pointer;
    }
    .actions {
      display: flex;
      justify-content: center;
      @include sfp.flex-gap((0, 8px));
    }
  }
  .operations {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include sfp.flex-gap((0, 16px));
    margin-bottom: 10px;

    .fusion3-export-btn-wrap {
      button {
        border-radius: 4px;
        border-radius: var(--border-radius);
        height: 30px;
        line-height: 26px;
        padding: 0 10px;
        width: 60px;
        min-width: 60px;
      }
    }
  }
  .footer-slot {
    display: flex;
    align-items: center;
    .ysd-checkbox-wrapper {
      align-items: center;
      .ysd-checkbox {
        top: -1px;
      }
    }
    .btn-groups {
      margin-left: 24px;
      display: flex;
      @include sfp.flex-gap((0, 12px));
    }
    .num {
      display: inline-block;
      padding: 0 4px;
      color: var(--danger-color);
    }
  }

  &.location-map {
    height: 60vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
}
