@import "@/assets/css/mixin";
$real-time-tracking-cls: real-time-tracking;

.#{$real-time-tracking-cls} {
  padding: 16px;

  &-content {
    width: 100%;
    height: 100%;
    position: relative;

    .ysc-map-component {
      .custom-popup-box {
        .track-popver-content {
          width: 280px;
          padding: 10px;
          background-color: var(--card-cross-bg);
          position: relative;

          .img-box {
            width: 260px;
            height: 212px;
            margin-bottom: 10px;
            cursor: pointer;
          }
          .info-box {
            .card-info {
              padding: 4px 0;
              .ysd-icon {
                margin-right: 6px;
              }
            }
            .plate-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          .btn-change {
            position: absolute;
            top: 86px;
            width: 16px;
            height: 46px;
            border-radius: 2px;
            box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            line-height: 46px;
            text-align: center;
            cursor: pointer;

            &.btn-prev {
              left: 10px;
            }

            &.btn-next {
              right: 10px;
            }

            &.disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
  .tracking-loading {
    position: absolute;
    left: 40%;
    top: 15px;
    z-index: 600;
    font-weight: 700;
    color: #ff5b4d;
    width: 206px;
    height: 42px;
    line-height: 40px;
    background: #feefea;
    border: 1px solid #ff0000;
    border-radius: 4px;
    text-align: center;
    .ysd-icon {
      margin-right: 10px;
    }
  }

  .ysd-drawer-left {
    &.ysd-drawer-open {
      width: 436px !important;
    }
    .ysd-drawer-header {
      margin-bottom: 10px
    }
    .ysd-drawer-body {
      height: calc(100% - 28px);
      overflow: unset;

      .retrieval-form {
        @include scrollBar();

        .formdata-item {
          padding: 10px;
          margin-bottom: 16px;
          border-radius: 4px;
          border: 2px solid transparent;
          position: relative;

          .del-btn {
            display: none;
            position: absolute;
            right: 9px;
            top: 9px;
            color: #ffffff;
            text-align: center;
            width: 21px;
            height: 21px;
            line-height: 20px;
            background: var(--danger-color);
            border-radius: 50%;
            cursor: pointer;
            z-index: 3;
          }

          &.checked {
            border: 2px solid var(--primary-color);

            .del-btn {
              display: block;
            }
          }

          &-title {
            text-align: center;
            font-weight: bold;
            padding-bottom: 9px;
            border-bottom: 1px solid var(--divider-border-color);
            position: relative;
            margin-bottom: 10px;
            color: var(--base-color1);

            &::before {
              content: "";
              position: absolute;
              left: 152px;
              top: 4px;
              width: 8px;
              height: 8px;
              background: var(--primary-color);
              transform: rotate(45deg);
            }
            &::after {
              content: "";
              position: absolute;
              right: 152px;
              top: 4px;
              width: 8px;
              height: 8px;
              background: var(--primary-color);
              transform: rotate(45deg);
            }
          }

          &-con {
            padding: 0 5px;
          }
          .ysd-form-item {
            margin-bottom: 10px;
            .ysd-form-item-content-label {
              font-weight: bold;
              margin-bottom: 12px;
            }
            .fusion3-form-plate {
              width: 100%;
              margin-bottom: 14px;
            }

            .form-label {
              white-space: nowrap;
              margin-right: 12px;
              position: relative;
              top: 3px;
            }
          }

          // 添加"或"字
          // .upload-area {
          //   .ysd-form-item-content-value {
          //     padding-left: 38px;
          //     position: relative;
          //     &::before {
          //       content: "";
          //       position: absolute;
          //       left: 5px;
          //       top: 0;
          //       width: 2px;
          //       height: 100%;
          //       background: linear-gradient(
          //         180deg,
          //         rgba(51, 119, 255, 0),
          //         rgba(51, 119, 255, 0.87) 35%,
          //         #3377ff,
          //         rgba(51, 119, 255, 0.87) 65%,
          //         rgba(51, 119, 255, 0)
          //       );
          //       z-index: 1;
          //     }
          //     &::after {
          //       content: "";
          //       position: absolute;
          //       left: -8px;
          //       top: 50%;
          //       margin-top: -13px;
          //       width: 26px;
          //       height: 26px;
          //       text-align: center;
          //       line-height: 26px;
          //       background: var(--primary-color);
          //       border: 1px solid #ffffff;
          //       color: #ffffff;
          //       border-radius: 50%;
          //       z-index: 2;
          //     }
          //     .or {
          //       position: absolute;
          //       left: -2px;
          //       top: 50%;
          //       margin-top: -7px;
          //       z-index: 3;
          //       color: #fff;
          //     }
          //   }
          //   .feature-list {
          //     ul {
          //     }
          //     li {
          //       width: 96px !important;
          //       height: 96px !important;
          //     }
          //     .upload-box,
          //     .ysd-upload-wrap {
          //       width: 96px !important;
          //       height: 96px !important;
          //     }
          //   }
          // }

          &:nth-child(2) {
            .formdata-item-title {
              &::before {
                background: var(--warning-color);
              }
              &::after {
                background: var(--warning-color);
              }
            }
            .ysd-form-item-content-value {
              &::before {
                background: linear-gradient(180deg, rgba(255, 141, 26, 0), #ff8d1a, rgba(255, 141, 26, 0));
              }
              &::after {
                background: var(--warning-color);
              }
            }
          }
        }
        & > .ysd-btn {
          margin-bottom: 16px;
        }
      }
      .btns-wrap {
        .ysd-space-item {
          width: 50%;
          height: 54px;
          button {
            min-width: 100%;
          }
        }
      }
      .retrieval-btn {
        position: relative;
        overflow: hidden;
        .tracking-bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 184%;
          // height: 32px;
          z-index: 2;
          mix-blend-mode: screen;
          cursor: pointer;
        }
      }
      .retrieval-tip {
        color: var(--primary-color);
      }
    }
  }

  .result-show-type {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 500;
    transition: right ease 0.3s;

    .ysd-radio-button-wrapper {
      min-width: unset;
      background: var(--radio-button-bg-color);
      color: var(--base-color1-65);
      font-size: 14px;
      .ysd-icon {
        margin-right: 5px;
      }

      &.ysd-radio-button-wrapper-checked {
        .ysd-icon {
          color: var(--primary-color);
        }
      }
    }
  }

  .expand-target {
    position: absolute;
    top: 20px;
    right: 194px;
    z-index: 500;
    transition: right ease 0.3s;
    background: var(--radio-button-bg-color);
  }

  .ysd-drawer-right {
    .ysd-drawer-body {
      .result-con {
        height: 100%;
        display: flex;
        flex-direction: column;
        .ysdb-result-box-nodata {
          margin-top: 100px;
        }

        .result-title {
          position: relative;
          padding-left: 14px;
          display: flex;
          justify-content: space-between;
          line-height: 28px;
          font-weight: bold;
          margin-bottom: 10px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -8px;
            width: 4px;
            height: 16px;
            background: var(--primary-color);
            border-radius: 2px;
          }
        }

        .ysd-divider {
          margin: 15px 0;
        }

        .result-data-item {
          .vehicle-info-card {
            word-wrap: break-word;
            word-break: break-all;
            padding: 14px 52px 14px 28px;
            border-radius: 4px;
            border: 1px solid var(--divider-border-color);
            display: flex;
            flex-direction: column;
            @include sfp.flex-gap((10px, 0));
            position: relative;
            .fold-btn {
              position: absolute;
              bottom: 12px;
              right: 12px;
              color: var(--primary-color);
              cursor: pointer;
              text-align-last: center;
              .ysd-icon {
                font-size: 16px;
              }
            }

            .vehicle-info-item {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              label {
                display: inline-block;
                width: 56px;
                margin-right: 19px;
              }
            }

            &.fold {
              .transfer {
                display: none;
              }
            }
            .transfer {
              width: 23px;
              height: 56px;
              background: var(--drawer-bg-color);
              border: 1px solid var(--primary-color);
              border-radius: 4px;
              color: var(--primary-color);
              text-align: center;
              line-height: 18px;
              cursor: pointer;
              position: absolute;
              top: 50%;
              margin-top: -28px;

              &.next {
                right: 0;
              }
              &.prev {
                left: 0;
              }
            }
          }
        }

        .result-list-wrap {
          flex: auto;
          .card-identify-item {
            margin-bottom: 10px;
            .identify-img-item {
              width: 118px;
            }
          }
        }
      }
    }
  }

  .person-info-card {
    padding: 10px;
    display: flex;
    border: 1px solid var(--divider-border-color);
    border-radius: 4px;
    position: relative;

    .img-wrap {
      width: 97px;
      height: 97px;
      margin-right: 18px;
      cursor: pointer;
    }

    .base-info {
      flex: auto;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .link {
        padding: 0;
      }
      .person-tags {
        display: flex;
        .tags {
          display: flex;
          flex-wrap: wrap;
          @include sfp.flex-gap(5px);
          @include tag-item();
          .more {
            width: 50px;
          }
        }
      }
    }

    .matches {
      color: var(--primary-color);
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .card-result {
    width: calc(100% - 436px);
    height: 100%;
    background-color: var(--drawer-bg-color);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    box-shadow: 4px 3px 6px 0px rgb(0 0 0 / 16%) !important;
    border-left: 1px solid var(--base-color1-20);
    padding: 20px;
    transform: translateX(102%);
    transition: transform ease 0.3s;

    overflow-y: auto;
    // overflow-x: hidden;

    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
      background-color: var(--layout-scroll-bar-bg-color);
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--layout-scroll-thumb-color);
      border-radius: 4px;
    }

    &.open {
      transform: translateX(0);
    }

    .item-title {
      font-weight: bold;
      position: relative;
      padding-left: 14px;
      font-size: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
        width: 4px;
        height: 16px;
        background: var(--primary-color);
        border-radius: 2px;
      }

      .tip {
        font-size: 14px;
        color: #919191;
        font-weight: normal;
        margin-left: 10px;
      }
    }

    &-header {
      margin-bottom: 15px;
      height: 28px;
      line-height: 28px;

      display: flex;
      justify-content: space-between;

      & > .item-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .fold-btn {
        color: var(--primary-color);
        cursor: pointer;
      }

      .btns {
        display: flex;
        min-width: 490px;

        .result-show-type {
          position: unset;
          height: 28px;
          .ysd-radio-button-wrapper {
            line-height: 26px;
          }
        }

        .expand-target {
          position: unset;
          line-height: 28px;
          height: 28px;
          margin-right: 16px;
        }

        .ysd-radio-group {
          height: 28px;
          .ysd-radio-button-wrapper {
            height: 28px;
            line-height: 28px;
          }
        }
      }
    }

    &-content {
      width: 100%;
      .person-info-wrap {
        width: 386px;
      }

      .card-item-flex {
        flex: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 206px;
      }

      .result-item {
        width: 100%;
        padding: 40px 20px;
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;

        .item-fold {
          position: absolute;
          top: 10px;
          right: 10px;
          color: var(--primary-color);
          cursor: pointer;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .cond-total {
          font-weight: bold;
          font-size: 20px;
          text-align: center;
          margin-top: 16px;
          span {
            color: var(--primary-color);
          }
        }

        .face-cond {
          .face-cond-image {
            border: 1px solid #ff8d1a;
            width: 210px;
            border-radius: 4px;
            padding: 10px;
            .ysd-image-wrapper {
              // width: 194px;
              height: 194px;
            }
          }
        }

        .vehicle-cond {
          .vehicle-info {
            width: 210px;
            border: 1px solid #ff8d1a;
            border-radius: 4px;

            .plate-number {
              width: 100%;
              height: 70px;
              background: var(--base-color1-3);
              border-radius: 4px 4px 0px 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              .plate-bg {
              }
            }

            &-con {
              padding: 8px 12px;
              background-color: var(--drawer-bg-color);
              .car-info {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
                line-height: 32px;
              }

              .time-item {
                p {
                  color: #919191;
                }
                & > div {
                  line-height: 28px;
                }
              }
            }
          }
        }

        .results {
          width: calc(100% - 210px - 26px);
          margin: 0;
          .card-identify-single-item {
            display: inline-block;
            margin: 0 10px 10px 0;
            width: 194px !important;
            min-width: 194px;
          }
        }
      }
    }
  }

  .predict-path {
    position: absolute;
    top: 58px;
    right: 20px;
    z-index: 500;
    transition: right ease 0.3s;
    background-color: var(--drawer-bg-color);
    border-radius: 4px;
    padding: 16px;
    width: 275px;

    &-title {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--divider-border-color);
      margin-bottom: 10px;
    }

    &-con {
      .predict-path-item {
        &-title {
          font-weight: bold;
          line-height: 28px;
        }
        &-desc {
          line-height: 28px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          .label {
            color: var(--base-color1);
            width: 60px;
            display: inline-block;
          }
          span {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .custom-popup-box {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.10); 
  }
}

.extend-target-modal {
  width: 740px;

  .ysd-modal-content {
    .extend-target-item {
      width: 100%;

      &.head-func {
        display: flex;
        justify-content: space-between;
        .btn {
          font-weight: bold;
        }
      }

      &.association-type {
        margin: 10px 0;
        label {
          font-weight: bold;
          margin-right: 18px;
        }
      }

      .extend-target-result {
        height: 532px;
        @include scrollBar();
        &-item {
          display: flex;
          @include scrollBar();
          overflow-x: auto;
          @include sfp.flex-gap((0, 20px));
          border-bottom: 1px solid var(--divider-border-color);
          padding: 10px 0;

          .extend-result-card {
            width: 208px;
            border: 1px solid #ebebeb;
            border-radius: 4px;

            &-title {
              width: 100%;
              height: 29px;
              padding: 0 8px;
              border-bottom: 1px solid #ebebeb;
              background-color: var(--base-color1-3);
              font-weight: bold;
              line-height: 28px;
            }

            &-con {
              padding: 4px 10px 10px;
              position: relative;
              .ysd-image-wrapper {
                width: 188px;
                height: 188px;
              }
            }

            .card-checked {
              position: absolute;
              left: 18px;
              top: 12px;
            }
          }
        }
      }

      .nodata {
        text-align: center;
        img {
          width: 300px;
          height: 300px;
        }
      }

      &.tip {
        padding: 16px 0;
        border-bottom: 1px solid var(--divider-border-color);
        span {
          color: var(--danger-color);
          margin: 0 5px;
        }
      }
    }
  }
  .ysd-modal-footer {
    margin-top: 17px;
  }
}

.extend-target-bigimg {
  z-index: 2026;
  .big-img-left {
    &-content {
      height: 100% !important;
      margin-bottom: 0 !important;
      .quick-links {
        display: none !important;
      }
    }
    .big-img-list {
      display: none;
    }
  }
}
