@import "@/assets/css/mixin.scss";

$baseinfo-caselist: "baseinfo-caselist";

.#{$baseinfo-caselist} {
  .case-lists {
    padding: 0 15px;
  }
  &-case-modal {
    .case-detail {
      position: relative;
      max-height: 670px;
      @include scrollBar();
      padding-left: 1px;
      padding-bottom: 1px;
      .cell {
        display: flex;
        margin-bottom: -1px;
        line-height: 48px;
        height: 48px;
        margin-left: -1px;
        .cell-label {
          width: 116px;
          background: var(--table-color-bg-header-cell-right);
          border: 1px solid var(--table-color-border);
          text-align: center;
        }
        .cell-value {
          padding-left: 20px;
          flex: 1;
          background: var(--layout-vertical-content-body-bg-color);
          border: 1px solid var(--table-color-border);
          margin-left: -1px;
          .case-label {
            @include sfp.flex-gap((0, 5px));
            display: flex;
            align-items: center;
            height: 100%;
          }
          .case-type {
            display: inline-block;
            height: 24px;
            background: rgba(255, 91, 77, 0.1);
            border: 1px solid #ff5b4d;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: #ff5b4d;
            line-height: 24px;
            margin-top: 10px;
            padding: 0 8px;
          }
          .label-item {
            display: inline-block;
            width: 76px;
            height: 24px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            background: #ff5b4d;
            color: #fff;
            line-height: 24px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 8px;
          }
          .label-more {
            width: auto;
            cursor: pointer;
          }
        }
        &.cell-half {
          width: 73%;
        }
      }
      .cell-status {
        height: auto;
        .cell-value {
          line-height: 25px;
          padding: 10px;
          padding-left: 20px;
        }
      }
      .id-card {
        position: absolute;
        right: 0;
        top: 0;
        width: 28%;
        height: 236px;
        background: var(--layout-vertical-content-body-bg-color);
        border: 1px solid var(--table-color-border);
        padding: 15px 20px;
        text-align: center;
        img {
          width: 153px;
          height: 153px;
          object-fit: contain;
        }
        .name {
          height: 34px;
          font-size: 26px;
          font-family: Microsoft YaHei, Microsoft YaHei-Bold;
          font-weight: 700;
          color: var(--text-color);
        }
        .idcard {
          height: 20px;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #3377ff;
          cursor: pointer;
        }
        .btn-switch {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 43px;
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.4);
          color: #fff;
          cursor: pointer;
          position: absolute;
          &:not(&-disabled) {
            :hover {
              color: var(--base-color2-65);
            }
          }

          &-disabled {
            opacity: 0.7;
            cursor: no-drop;
          }
        }
        .btn-left {
          left: 0;
          top: 70px;
        }
        .btn-right {
          right: 0;
          top: 70px;
        }
      }
    }
  }
  &-popover-label {
    .case-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 240px;
      @include sfp.flex-gap(5px);
      align-items: center;
      .label-item {
        display: inline-block;
        width: 76px;
        height: 24px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        background: #ff5b4d;
        color: #fff;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 8px;
      }
    }
  }
}
