.label-modal {
  width: 750px;
  .ysd-modal-content {
    .form-area-item {
      padding: 15px 8px;
      background-color: rgba(235, 235, 235, 0.25);
      margin-bottom: 10px;

      &-title {
        font-weight: bold;
        padding-left: 14px;
        position: relative;
        margin-bottom: 12px;

        &::before {
          content: "";
          width: 4px;
          height: 15px;
          background-color: var(--primary-color);
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .ysd-form-item {
        margin-bottom: 14px;

        .ysd-select,
        .ysd-input-wrapper {
          // width: 250px;
        }
      }

      .permissions-form {
        .ysd-form-item-content-label {
          width: 122px !important;
        }
        .ysd-form-item-content-value-input {
          flex-wrap: wrap;
          .ysd-radio-group {
            width: 100%;
            height: 32px;
            line-height: 32px;
          }
          .ysd-tree-select {
            margin-top: 10px;
            // width: 250px;
          }
          .ysd-tag {
            max-width: 100px;
          }
        }
      }

      .space-time-rule {
        .ysd-form-item-content-label {
          width: 108px !important;
        }
        .ysd-tree-select {
          // width: 250px;
        }
      }

      .time-range {
        .ysd-radio-group {
          line-height: 32px;
        }
        .non-fixed-time {
          display: flex;
          line-height: 32px;
          @include sfp.flex-gap((0, 6px));
          .ysd-input-wrapper {
            width: 150px;
          }
        }
        .time-range-picker {
          width: 360px;
          margin-bottom: 0;
          .ysd-picker-range {
            width: 284px;
          }
        }
      }
    }
  }
}

.rule-select {
  display: flex;
  flex-wrap: wrap;
  @include sfp.flex-gap((8px, 0));

  &-label {
    line-height: 32px;
    & > span {
      color: var(--danger-color);
    }
  }
  &-item {
    display: flex;
    @include sfp.flex-gap((0, 8px));
    .ysd-select,
    .ysd-input-wrapper {
      width: 175px;
    }

    .select-0 {
      width: 72px;
    }

    .ysd-radio-group {
      width: 175px;
      white-space: nowrap;
      display: flex;
      .ysd-radio-wrapper {
        line-height: 32px;
        margin-right: 0;
        span.ysd-radio + * {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
    }

    &.is-time {
      .ysd-select:nth-child(n + 3) {
        width: 100px;
      }
      .ysd-input-wrapper {
        width: 143px;
      }
    }
  }

  .add-icon {
    width: 24px;
    height: 24px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
  }

  .del-icon {
    width: 24px;
    height: 24px;
    border: 2px solid var(--danger-color);
    border-radius: 50%;
    color: var(--danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
  }
}

.user-list-drop {
}
