$prefixCls: "img-upload-idcard";
.#{$prefixCls} {
  .ysd-form-item-content-value{
    width: 319px;
  }
  &-container {
    width: 100%;
    .ysd-radio-button-wrapper {
      height: 32px;
    }
    &-content {
      margin-top: 10px;
      .#{$prefixCls}-idcard {
        display: flex;
        justify-content: space-between;
        .ysd-input-wrapper{
          width: 210px;
        }
        .ysd-btn {
          padding: 0 12px;
          min-width: 80px;
          // margin-left: 10px;
        }
      }
    }
  }
}
