$record-detail-relateinfo: "record-detail-relateinfo";

.#{$record-detail-relateinfo} {
  &-header {
    border-bottom: 1px solid var(--tabs-line-border);
    .ysd-form {
      display: flex;
      @include sfp.flex-gap((0, 16px));
      .ysd-form-item {
        width: auto;
        margin-bottom: 16px;
      }
      .ysd-form-item-content-value {
        margin-left: 10px;
      }
      .ysd-slider {
        width: 250px;
      }
    }
  }
  &-content {
    .result-total {
      height: 28px;
      line-height: 28px;
      margin: 10px 0;
      span {
        color: #3377ff;
        margin: 0 5px;
      }
    }
    .result-data {
      .card-item-flex {
        flex-grow: 1;
        flex-shrink: 1;
        width: 438px;
        height: 0;
        margin-right: 18px;
        margin-bottom: 18px;
      }
    }
  }
  &-relate-modal {
    .ysd-modal-content {
      padding: 50px 40px;
      .relate-introduce {
        width: 405px;
        height: 50px;
        font-size: 14px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        color: var(--text-color);
        span {
          color: #ff8d1a;
        }
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
      margin-top: 0;
    }
  }
}
