.add-target-modal {
  width: 562px;
  .ysd-modal-content {
    padding: 30px 24px 0;

    .ysd-tabs {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      &-item {
        width: calc(50% - 2px);
      }
    }
    .add-target-form-wrapper {
      display: flex;
      @include sfp.flex-gap((0, 12px));
      .img-upload {
        width: 138px;
        height: 174px;
        margin-right: 20px;
        .card-info-item {
          padding: 0;
          border: none;
          .card-img {
            width: 130px;
            height: 176px;
          }
          .card-info-wrapper {
            display: none;
          }
        }
        .img-upload-content {
          height: 100%;
          ul > li {
            height: 174px;
            .upload-box,
            .ysd-upload-wrap {
              height: 174px;
              .ysd-upload {
                border-radius: 6px;
              }
              .ysd-upload-trigger {
                color: var(--primary-color);
              }
            }
          }
        }
      }
      .add-target-form {
          width: 100%;
        // &.batch {
        // }
        .ysd-form {
          .ysd-form-item {
            margin-bottom: 20px;

            .id-number-btn {
              min-width: 80px;
              padding: 0;
              margin-left: 12px;
            }
          }
        }
        .identity-form {
          width: 100%;
          position: relative;
          
          .ysd-upload-wrap {
            width: 100%;
            .ysd-upload {
              width: 100%;
              .ysd-upload-trigger {
                height: 70px;
                line-height: 70px;
                text-align: center;
                color: var(--primary-color);
                border: var(--upload-drag-border-width) var(--upload-drag-border-style) var(--primary-color);
                border-radius: var(--upload-drag-border-radius);
                background: rgba(34, 34, 38, 0.01);
                .ysd-icon {
                  margin-right: 8px;
                }
              }
            }
            .ysd-upload-list {
              .ysd-upload-list-item {
                width: 100%;
              }
            }
          }
          .download {
            position: absolute;
            right: 0;
            top: 0;
            color: var(--primary-color);
            cursor: pointer;
            line-height: 32px;
          }
        }
        .fusion3-form-plate {
          width: 250px;
        }
      }
    }
  }
}

.import-result-modal {
  .ysd-modal-header {
    border: none;
    padding: 0;
    .ysd-modal-title {
      .ysd-icon {
        background-color: transparent;
        color: var(--warning-color);
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
  .ysd-modal-content {
    // padding: 10px 20px 0;
    .progress {
      padding: 30px 0;
      .tip {
        margin-bottom: 5px;
        font-size: 16px;
        font-family:
          Microsoft YaHei,
          Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: left;
        color: var(--color-text);
      }
      .info {
        height: 32px;
        background: rgba(255, 141, 26, 0.1);
        border-radius: 4px;
        padding-left: 10px;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #ff8d1a;
        line-height: 32px;
        .ysd-icon {
          color: #ff8d1a;
          margin-right: 10px;
        }
      }
    }
    .result {
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        height: 31px;
        font-size: 24px;
        font-family:
          Microsoft YaHei,
          Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: center;
        color: var(--text-color);
        line-height: 22px;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 250px;
      }
      .icon-wrap {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 24px;
        line-height: 60px;
        margin-bottom: 20px;
        text-align: center;
      }
      .success-text,
      .error-text {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: var(--breadcrumb-color);
        line-height: 24px;
        .total {
          color: #00cc66;
          font-weight: bold;
        }
      }
      &.success {
        .total {
          color: var(--success-color);
        }
        .icon-wrap {
          background-color: rgb(0, 204, 102, 0.1);
          color: var(--success-color);
        }
      }
      &.error {
        .error-text {
          .total {
            color: var(--danger-color);
          }
        }
        .icon-wrap {
          background-color: rgba(255, 141, 26, 0.1);
          color: var(--warning-color);
        }
      }
      a {
        color: var(--primary-color);
      }
    }
    .footer {
      display: flex;
      justify-content: space-evenly;
      width: 300px;
      margin-left: 80px;
    }
  }
}
