$prefix: "card-track-info";

.#{$prefix} {
  .track-info-content {
    padding: 12px 18px;
    border-radius: 4px;
    border: 1px solid var(--list-border-color);
    position: relative;
    cursor: pointer;
    .index {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(51, 119, 255, 0.5);
      width: 32px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      border-radius: 4px 0 4px 0;
    }
    .sign {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px 4px 0px 10px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 0 8px;
      line-height: 24px;
      font-size: 12px;
    }
    .track-info-item {
      display: flex;
      line-height: 20px;
      height: 20px;
      .ysd-icon {
        margin-right: 7px;
      }
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
    &.number-gap {
      padding-top: 26px;
    }
    &.active {
      border-color: var(--primary-color);
    }
  }
}