@import "@/assets/css/mixin";
.similarity-container-modal {
  .ysd-tabs.ysd-tabs-line {
    margin-bottom: 16px;
    width: 100%;
  }
  .similarity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-height: 80vh;
    height: 472px;
    @include scrollBar();
    &-item {
      border-radius: 4px;
      margin-right: 16px;
      margin-bottom: 16px;
      flex: none;
      display: flex;
      align-items: center;
      height: 220px;
      width: 495px;
      border: 1px solid var(--base-color1-30);
      padding: 10px;
      .image {
        position: relative;
        flex: 1 1 0;
        height: 100%;
        &::before {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 70px;
          height: 24px;
          line-height: 24px;
          background: var(--image-gait-number-bg);
          text-align: center;
          border-radius: 4px 0 10px 0;
          color: #fff;
        }
        .gait-number {
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 0px 4px 0px 10px;
          background: var(--image-gait-number-bg);
          color: #fff;
          padding: 0 8px;
          line-height: 24px;
          font-size: 12px;
          .ysd-icon {
            margin-right: 5px;
            font-size: 14px;
          }
        }
        &.target {
          cursor: pointer;
        }
      }
      &:nth-child(even) {
        margin-right: 0;
      }

      .similarity {
        height: 26px;
        line-height: 26px;
        margin: 0 10px;
        display: inline-block;
        width: 60px;
        flex: none;
        text-align: center;
        border-radius: 4px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          height: 6px;
          width: 100%;
          background: var(--layout-vertical-content-body-bg-color);
          bottom: 2px;
          left: 0;
          box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
          z-index: 0;
        }
        em {
          position: relative;
          z-index: 2;
          font-style: normal;
          color: var(--danger-color);
          font-weight: 700;
          &:first-child {
            font-size: 18px;
          }
        }
      }
    }
  }
}
