.person-attribute-modal {

  .modal-body {
    padding: 9px 30px 0 30px;


    .target-type {
      .ysd-radio-button-wrapper {
        width: 100px;
        text-align: center;
      }
    }

    .feature-list {
      position: relative;

      .feature-options {
        display: flex;
        flex-direction: column;
        @include sfp.flex-gap((10px,0));


        .ysdb-checkable-tag {

          .ysdb-checkable-tag-name {
            font-weight: bold;
            color: var(--base-color1);
          }

          .ysd-checkbox-wrapper {
            color: var(--base-color1-85);

            .show-style-text {
              border-color: var(--base-color1-50);
            }

            .show-style-text,
            .show-style-color-block,
            .show-style-icon {
              border-color: var(--base-color1-50);
            }

            &.ysd-checkbox-wrapper-checked {
              color: var(--primary-color);
              color: #fff;

              .show-style-text,
              .show-style-color-block,
              .show-style-icon {
                border-color: var(--primary-color);
                background-color: var(--primary-color);
              }
            }
          }

          .fusion3-form-plate {
            width: 242px;

            .fusion3-form-plate-form-input .ysd-input-inner {
              border-radius: 4px;
            }
          }
        }
      }

      &.bicycle {
        .ysdb-checkable-tag-name {
          width: 98px;
          text-align-last: justify;
        }
      }
    }
  }

  .ysd-modal-footer {
    padding: 24px 0 8px 0;
    border-top: 1px solid var(--list-border-color);

    .btn-reset {
      margin-right: 8px;
      color: var(--primary-color);
      cursor: pointer;
    }
  }

}
