@import "~@/assets/css/mixin.scss";

$prefix: "left-search-wrapper";

.#{$prefix} {
  height: calc(100% - 70px);
  @include scrollBar();
  position: relative;
  padding-right: 3px;
  .ysd-form {
    .ysd-form-item {
      margin-bottom: 16px;
      .ysd-form-item-content-label {
        .custom-label {
          position: relative;
          margin-left: 10px;
          &.label-required {
            &::before {
              content: "*";
              left: -10px;
              position: absolute;
              color: var(--danger-color);
            }
          }
        }
      }
      .ysd-form-item-content-value {
        .jump-list {
          display: flex;
          padding: 10px;
          border: 1px solid var(--base-color1-10);
          border-radius: 4px;
          margin-left: 15px;
          flex: auto;
          &-item {
            width: 130px;
            height: 130px;
            margin-right: 10px;
          }
          .flex-auto {
            flex: auto;
            color: var(--text-color);
            display: flex;
            align-items: center;
          }
        }
        .ysd-loading.ysd-loading-spinning {
          width: 100%;
          height: 152px;
          line-height: 152px;
        }
      }
    }
    .time-range-picker {
      .ysd-space {
        display: flex;
      
        .ysd-picker {
          width: 100%;
          .ysd-picker-range-separator {
            padding: 0 4px;
          }
        }
        .time-custom-label {
          padding-left: 10px;
        }
      }
    }
    .location-map-list {
      .location-map-list-btn {
        width: 100%;
      }
    }
    .fusion3-form-plate {
      width: 100%;
      .ysd-input-inner {
        border-radius: 0 4px 4px 0;
        border-left: none;
      }
    }
    .form-vehicle-modal {
      .ysd-form-item-content-value {
        overflow: hidden;
      }
      .fusion3-vehicle-model {
        width: 100%;
      }
    }
  }
}
