@import "@/assets/css/mixin.scss";

$record-detail-trace: "record-detail-trace";

.#{$record-detail-trace} {
  height: 100%;
  &-header {
    border-bottom: 1px solid var(--tabs-line-border);
    .ysd-form {
      display: flex;
      @include sfp.flex-gap((0, 16px));
      .ysd-form-item {
        width: auto;
        margin-bottom: 16px;
      }
    }
  }
  &-content {
    height: calc(100% - 100px);
    .total-num {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: var(--text-color);
      line-height: 22px;
      margin: 10px 0;
      span {
        color: #3377ff;
        margin: 5px;
      }
    }
    .total-data {
      display: flex;
      height: calc(100% - 25px);
      .time-line {
        width: 430px;
        overflow-y: scroll;
        height: 100%;
        @include scrollBar();
        .no-data {
          height: 350px;
          background: var(--result-no-data-img) no-repeat center 0;
        }
      }
      .time-map {
        flex: 1;
        .ysc-map-container {
          .ysc-map-component {
            position: unset;
          }
          .custom-popup-box {
            background-color: var(--card-cross-bg);
            border-radius: 4px;
            .track-popver-content {
              padding: 8px;
              &-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
                .header-text {
                  font-weight: bold;
                }
                .close-btn {
                  cursor: pointer;
                }
              }
              &-card {
                display: flex;
                justify-content: space-between;
                position: relative;
                border-radius: 4px;
                border: 1px solid var(--image-border-color);
                padding: 8px;

                .card-serial {
                  position: absolute;
                  left: 0;
                  top: 0;
                  padding: 0 10px;
                  text-align: center;
                  line-height: 24px;
                  height: 24px;
                  color: #fff;
                  background: rgba(51, 119, 255, 0.5);
                  border-radius: 4px 0px 4px 0px;
                }

                .card-similar {
                  position: absolute;
                  right: 0;
                  top: 0;
                  background: var(--card-similar-bg);
                  width: 101px;
                  height: 38px;
                  line-height: 30px;
                  color: #fff;
                  padding-right: 7px;
                  text-align: right;
                  font-size: 16px;
                  font-weight: bold;
                }

                .left-img {
                  width: 166px;
                  height: 166px;
                  margin-right: 12px;
                }

                .right-info {
                  padding-top: 45px;
                  .card-info {
                    width: 184px;
                    margin: 5px 0;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2; /* 这里是超出几行省略 */
                    overflow: hidden;

                    .ysd-icon {
                      margin-right: 7px;
                    }
                  }

                  .card-btn {
                    margin: 12px auto 0;
                  }
                }

                .btn-change {
                  position: absolute;
                  top: 50%;
                  margin-top: -23px;
                  width: 16px;
                  height: 46px;
                  border-radius: 2px;
                  box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
                  background-color: rgba(0, 0, 0, 0.5);
                  color: #fff;
                  line-height: 46px;
                  text-align: center;
                  cursor: pointer;

                  &.btn-prev {
                    left: -8px;
                  }

                  &.btn-next {
                    right: -8px;
                  }

                  &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                  }
                }
              }
              &-title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
                font-size: 14px;
                .title-text {
                  font-family: Microsoft YaHei, Microsoft YaHei-Bold;
                  font-weight: 700;
                  text-align: left;
                  color: var(--text-color);
                }
              }
              &-info {
                .info {
                  display: flex;
                  height: 20px;
                  font-size: 14px;
                  font-weight: 400;
                  text-align: left;
                  color: var(--text-color);
                  margin: 5px 0;
                  .info-label {
                    width: 70px;
                  }
                  .info-text {
                    flex: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-timeline {
    .ysd-timeline-item {
      cursor: pointer;
      margin: 5px 0;
      .dot {
        width: 21px;
        height: 21px;
        background: #d2d2d3;
        border-radius: 50%;
        line-height: 21px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        &.active-dot {
          background: #3377ff;
        }
      }
      .ysd-timeline-item-content-wrapper {
        padding-bottom: 10px;
        margin-left: 0;
      }
      .time-content {
        .time {
          width: 180px;
          font-size: 14px;
          font-weight: 400;
          color: var(--text-color);
          line-height: 22px;
          margin-bottom: 10px;
          padding-left: 20px;
          border-radius: 0 11px 11px 0;
        }
        .content {
          width: 380px;
          border: 1px solid var(--tabs-line-border);
          border-radius: 4px;
          padding: 10px 20px;
          margin-left: 20px;
          .title {
            font-size: 20px;
            font-family: Microsoft YaHei, Microsoft YaHei-Bold;
            font-weight: 700;
            text-align: left;
            color: var(--text-color);
            height: 30px;
          }
          .info {
            display: flex;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: var(--text-color);
            line-height: 30px;
            height: 25px;
          }
        }
      }
      .active-time {
        .time {
          background: rgba(51, 119, 255, 0.1);
        }
        .content {
          border: 1px solid #3377ff;
          .title {
            .ysd-icon {
              color: #3377ff;
            }
          }
        }
      }
    }
  }
}