$cross-cls: cross-tracking;

.#{$cross-cls} {
  padding: 16px;

  &-content {
    width: 100%;
    height: 100%;
    position: relative; // 抽屉定位

    .ysd-drawer-left {
      &.ysd-drawer-open {
        width: 436px !important;
      }
      .ysd-drawer-body {
        .ysd-form {
          .upload-area {
            background-color: var(--primary-color-10);
            border-radius: 4px;
            padding: 8px;
          }
          .time-range-picker {
            .ysd-picker {
              width: 100%;
              .ysd-picker-range-separator {
                padding: 0 4px;
              }
            }
          }
          .location-map-list {
            .location-map-list-btn {
              width: 100%;
            }
          }
        }
      }
    }

    .ysd-drawer-right {
      // width: 418px !important;
      .result-header {
        display: flex;
        line-height: 28px;
        height: 28px;
        margin: 8px 0 16px;

        .target-type-select {
          width: calc(100% - 72px - 16px);
          display: flex;

          label {
            min-width: 66px;
          }

          .ysd-select {
            .ysd-select-view {
            }
          }
        }

        .time-sort {
          width: 72px;
        }
      }

      .result-con {
        width: 100%;
        height: calc(100% - 52px);
        // overflow-y: auto;
        // &::-webkit-scrollbar-track-piece,
        // &::-webkit-scrollbar-corner,
        // &::-webkit-scrollbar-track {
        //   background-color: var(--layout-scroll-bar-bg-color);
        // }

        // &::-webkit-scrollbar {
        //   width: 4px;
        //   height: 12px;
        // }

        // &::-webkit-scrollbar-thumb {
        //   background-color: var(--layout-scroll-thumb-color);
        //   border-radius: 4px;
        // }

        .ysdb-result-box-nodata {
          background-size: 60%;
        }
        .ysd-virtual-list-has-scrollbar {
          margin-right: -6px;
        }
        .ysd-virtual-list {
          .ysd-virtual-inner {
            .card-identify-item {
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    .result-show-type {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 500;
      transition: right ease 0.3s;

      .ysd-radio-button-wrapper {
        min-width: unset;
        background: var(--radio-button-bg-color);
        color: var(--base-color1-65);
        font-size: 14px;
        .ysd-icon {
          margin-right: 5px;
        }

        &.ysd-radio-button-wrapper-checked {
          .ysd-icon {
            color: var(--primary-color);
          }
        }
      }
    }

    .ysc-map-container {
      .custom-popup-box {
        background-color: var(--card-cross-bg);
        .track-popver-content {
          padding: 8px;

          &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            .header-text {
              font-weight: bold;
            }
            .close-btn {
              cursor: pointer;
            }
          }

          &-card {
            display: flex;
            justify-content: space-between;
            position: relative;
            border-radius: 4px;
            border: 1px solid var(--image-border-color);
            padding: 8px;

            .card-serial {
              position: absolute;
              left: 0;
              top: 0;
              padding: 0 10px;
              text-align: center;
              line-height: 24px;
              height: 24px;
              color: #fff;
              background: rgba(51, 119, 255, 0.5);
              border-radius: 4px 0px 4px 0px;
            }

            .card-similar {
              position: absolute;
              right: 0;
              top: 0;
              background: var(--card-similar-bg);
              width: 101px;
              height: 38px;
              line-height: 30px;
              color: #fff;
              padding-right: 7px;
              text-align: right;
              font-size: 16px;
              font-weight: bold;
            }

            .left-img {
              width: 166px;
              height: 166px;
              margin-right: 12px;
            }

            .right-info {
              padding-top: 45px;
              .card-info {
                width: 184px;
                margin: 5px 0;
                word-break: break-all;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* 这里是超出几行省略 */
                overflow: hidden;

                .ysd-icon {
                  margin-right: 7px;
                }
              }

              .card-btn {
                margin: 12px auto 0;
              }
            }

            .btn-change {
              position: absolute;
              top: 50%;
              margin-top: -23px;
              width: 16px;
              height: 46px;
              border-radius: 2px;
              box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
              background-color: rgba(0, 0, 0, 0.5);
              color: #fff;
              line-height: 46px;
              text-align: center;
              cursor: pointer;

              &.btn-prev {
                left: -8px;
              }

              &.btn-next {
                right: -8px;
              }

              &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }

    .card-result {
      width: calc(100% - 436px);
      height: 100%;
      background-color: var(--drawer-bg-color);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1001;
      box-shadow: 4px 3px 6px 0px rgb(0 0 0 / 16%) !important;
      border-left: 1px solid var(--base-color1-20);
      padding: 20px;
      transform: translateX(102%);
      transition: transform ease 0.3s;

      &.open {
        transform: translateX(0);
      }

      &-header {
        margin-bottom: 15px;
        height: 28px;
        line-height: 28px;

        display: flex;
        justify-content: space-between;

        .title {
          font-weight: bold;
          position: relative;
          padding-left: 14px;
          font-size: 16px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -8px;
            width: 4px;
            height: 16px;
            background: var(--primary-color);
            border-radius: 2px;
          }
        }

        .btns {
          display: flex;
          .result-show-type {
            position: unset;
            height: 28px;
            .ysd-radio-button-wrapper {
              line-height: 26px;
            }
          }

          .target-type-select {
            display: flex;
            line-height: 28px;
            label {
              min-width: 66px;
            }
            .ysd-select {
              width: 234px;
              height: 28px;
            }
          }
        }
      }

      &-content {
        width: 100%;
        height: calc(100% - 28px - 15px);
        overflow-y: auto;
        // overflow-x: hidden;

        &::-webkit-scrollbar-track-piece,
        &::-webkit-scrollbar-corner,
        &::-webkit-scrollbar-track {
          background-color: var(--layout-scroll-bar-bg-color);
        }

        &::-webkit-scrollbar {
          width: 7px;
          height: 12px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--layout-scroll-thumb-color);
          border-radius: 4px;
        }

        .card-identify-single-item {
          margin: 0 15px 15px 0;
          min-height: 314px;
          min-width: 204px;
        }

        .card-item-flex {
          flex: auto;
          margin-right: 20px;
          margin-bottom: 20px;
          width: 206px;
        }
      }
    }
  }
}


