.position-set-modal {
  width: 950px;
  .ysd-modal-content {
    padding: 16px 0;
    border-bottom: 1px solid var(--modal-title-border-color);
    height: 510px;
    .ysc-map-container {
      #positionSetMap {
      }
    }
    .latlng-box {
      position: absolute;
      left: 16px;
      top: 32px;
      z-index: 401;
      background-color: var(--modal-bg-color);
      padding: 10px 16px;
      border-radius: 4px;
      box-shadow: 0px 3px 10px 0px rgba(113, 117, 137, 0.4);
      .ysd-form {
        display: flex;
        @include sfp.flex-gap((0,20px));
        .ysd-form-item {
          .ysd-form-item-content-label {
            width: 28px !important;
          }
          .ysd-input  {
            width: 80px;
          }
        }
      }
    }
  }
  .ysd-modal-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    color: var(--modal-title-text-color);
    & > div {
      height: 32px;
      line-height: 32px;
    }

    .ysd-icon {
      color: var(--primary-color);
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
