@import "../../assets/css/mixin.scss";

@keyframes showOptions {
  0% {
    opacity: 0;
    max-height: 20px;
  }

  100% {
    opacity: 1;
    max-height: 250px;
  }
}

@keyframes showInfo {
  0% {
    max-height: 250px;
  }

  100% {
    height: 0;
  }
}
$record-search-input: "record-search-input";
.#{$record-search-input} {
  .more-search-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 160px;
    margin-bottom: 20px;
    align-items: center;
    height: 22px;
    text-align: left;
    color: #3377ff;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    .btn {
      cursor: pointer;
      font-size: 16px;
      img {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
    }
  }
  .search-input {
    margin: 0 155px;
    height: 80px;
    border-radius: 12px;
    // background: transparent;
    // box-shadow: var(--color-case-box-shadow);
    background: var(--record-search-input-bg);
    box-shadow: var(--record-search-input-boxshadow);
    padding-right: 2px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid transparent;

    // box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
    .more-search-groups {
      position: absolute;
      top: 80px;
      width: 100%;
      height: 0;
      // height: 306px;
      background: var(--modal-bg-color);
      border-radius: 4px;
      box-shadow: 0px 12px 48px 0px rgba(113, 117, 137, 0.4);
      z-index: 2;
      overflow: hidden;
      .clost-btn {
        position: absolute;
        right: 20px;
        top: 16px;
        cursor: pointer;
        z-index: 2;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: -10px;
        line-height: 30px;
      }
      .more-search-tabs {
        width: 100%;
      }
      .tab-content {
        .search-items {
          flex: 1;
          display: flex;
          margin-left: 15px;
          @include sfp.flex-gap(14px);
          .ysd-form {
            display: flex;
            @include sfp.flex-gap(10px);
            flex-wrap: wrap;
            .ysd-form-item {
              margin-bottom: 0px;
              width: auto;
              .fusion3-form-plate-form-input {
                width: 168px;
              }
              .ysd-form-item-content-value {
                width: 242px;
              }
              .ysd-form-item-content-value-input {
                // justify-content: flex-end;
              }
            }
            .reset-btn-wrap {
              .ysd-form-item-content-value {
                width: auto;
              }
            }
            .native-place {
              .place-box {
                position: relative;
                width: 100%;
                .unplace {
                  position: absolute;
                  top: -25px;
                  right: 0;
                  font-weight: 400;
                  text-align: left;
                  line-height: 22px;
                  color: var(--form-label-color);
                  font-size: var(--form-label-font-size);
                }
              }
            }
            .age-box {
              position: relative;
              width: 100%;
              .minority {
                position: absolute;
                top: -25px;
                right: 0;
                font-weight: 400;
                text-align: left;
                line-height: 22px;
                // color: var(--form-label-color);
                font-size: var(--form-label-font-size);
                display: flex;
                @include sfp.flex-gap(10px);
                padding-right: 3px;
                color: var(--primary-color);
                > span {
                  cursor: pointer;
                }
              }
            }
            .input-group {
              .ysd-input-wrapper {
                width: 112px;
              }
              .times-box {
                display: flex;
                @include sfp.flex-gap(6px);
                position: relative;
                .cc-form-input-groups {
                  .ysd-input-group {
                    display: flex;
                    align-items: center;
                    @include sfp.flex-gap((0, 4px));
                  }
                }
                .ysd-input-wrapper {
                  width: 55px;
                }
                .minority {
                  position: absolute;
                  top: -25px;
                  right: 0;
                  .ysd-checkbox+span{
                    padding-right: 0;
                  }

                }
              }
            }
            .person-label {
              .ysd-tag {
                max-width: 100px;
              }
            }
            .type-id {
              display: flex;
              .ysd-select {
                border-radius: 4px 0 0 4px;
              }
              .ysd-input-inner {
                margin-left: -1px;
                border-radius: 0px 4px 4px 0px;
              }
            }
            .time-range-picker  {
              .ysd-form-item-content-value {
                width: unset;
                .ysd-picker-range {
                  width: 416px;
                }
              }
            }
          }
        }
      }
    }
    .input-box {
      width: calc(100% - 185px);
      display: flex;
      @include sfp.flex-gap(5px);
      padding-left: 20px;
      line-height: 24px;
      cursor: pointer;
      .input-value {
        font-size: 14px;
        @include text-ellipsis(multi);
      }
      .close-btn {
        font-size: 20px;
        color: var(--input-icon-color);
      }
    }
    .more-search-open {
      min-height: 306px;
      height: auto;
      padding: 10px;
      animation: showOptions 0.3s ease-in-out;
    }
    .more-search-retract {
      height: 0;
      padding: 0;
      animation: showInfo 0.3s ease-in-out;
    }
    > .ysd-input-wrapper {
      height: 100%;
      padding-left: 10px;
      width: calc(100% - 185px);
      .ysd-input-inner {
        border: none;
        input {
          font-size: 24px;
          color: var(--text-color);
        }
        ::-webkit-input-placeholder {
          font-size: 24px;
          font-weight: 400;
          text-align: left;
          color: var(--base-color1-50);
          opacity: 0.4;
        }
        .ysd-input-clear-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
      &.ysd-input-wrapper-disabled {
        background-color: rgba(34, 34, 38, 0.05);
      }
    }
    .upload {
      margin-right: 20px;
      .record-imgupload {
        .feature-list {
          li {
            width: 38px;
            height: 33px;
            .upload-hisory-popver {
              width: 38px;
              height: 33px;
            }
            .ysd-upload-wrap {
              width: 38px;
              height: 33px;
              .ysd-upload {
                border: none;
                .ysd-icon {
                  font-size: 33px;
                  color: #3377ff;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    .search-btn {
      width: 124px;
      height: 68px;
      background: #3377ff;
      border-radius: 8px;
      color: #fff;
      font-size: 31px;
      text-align: center;
      line-height: 68px;
      cursor: pointer;
      margin-right: 3px;
      .ysd-icon {
        font-size: 40px;
      }
    }
    &:hover {
      border: 1px solid #3377ff;
    }
    &.search-input-disabled {
      // background: rgba(34, 34, 38, 0.05);
      background: rgba(var(--record-search-input-bg), 0.6);
      // background: rgba(255, 255, 255, 0.6);
      .ysd-input-wrapper-disabled {
        background: transparent;
      }
      &:hover {
        border: 1px solid transparent;
      }
    }
  }
  .search-input-big {
    height: 62px;
    .search-btn {
      width: 200px;
      height: 48px;
      font-size: 20px;
      line-height: 48px;
      margin-right: 5px;
    }
    .more-search-groups {
      top: 60px;
    }
    > .ysd-input-wrapper {
      height: 20px;
      .ysd-input-inner {
        input {
          font-size: 18px;
        }
        ::-webkit-input-placeholder {
          font-size: 18px;
        }
      }
    }
  }
  .bottom-options {
    display: flex;
    @include sfp.flex-gap(10px);
    justify-content: space-between;
    width: 100%;
    padding-left: 160px;
    margin-top: 20px;
    // padding-right: 140px;
    padding-right: 160px;
    align-items: center;
    .history-search-groups {
      display: flex;
      @include sfp.flex-gap(10px);
      line-height: 22px;
      font-size: 16px;
      font-weight: 400;
      color: var(--text-color);
      .ysd-icon {
        color: #3377ff;
      }
      .history-info {
        height: 22px;
        font-weight: 400;
        line-height: 22px;
        display: flex;
        align-content: center;
        @include sfp.flex-gap((0, 4px));
        .history-item {
          font-weight: 400;
          color: var(--base-color1-50);
          // margin: 0 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          .info {
            max-width: 79px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span {
            display: block;
            border-right: 1px solid var(--base-color1-50);
            width: 1px;
            height: 16px;
            margin: 0 5px;
          }
          &:hover {
            color: var(--text-color);
          }
        }
      }
    }
    .more-btn {
      display: flex;
      @include sfp.flex-gap(10px);
      line-height: 22px;
      cursor: pointer;
      .black-btn,
      .more-btn-item {
        display: flex;
        justify-content: center;
        align-items: center;
        @include sfp.flex-gap(5px);
        width: 116px;
        height: 40px;
        border-radius: 8px;
        opacity: 0.7;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        color: var(--text-color);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        background: rgba(139, 139, 139, 0.16);
        letter-spacing: 0.8px;
        &:hover {
          background: rgba(139, 139, 139, 0.08);
        }
        .ysd-icon {
          // margin-right: 5px;
          font-size: 20px;
        }
      }
      .record-num {
        width: 116px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #3377ff;
        letter-spacing: 0.8px;
        background: rgba(51, 119, 255, 0.08);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        .ysd-icon {
          margin-right: 5px;
        }
        &:hover {
          background: rgba(51, 119, 255, 0.16);
        }
      }
    }
  }
  .more-btn {
    margin-top: 40px;
    display: flex;
    @include sfp.flex-gap(14px);
    cursor: pointer;
    justify-content:space-between;
    padding: 0 160px;
    .black-btn,
    .more-btn-item {
      flex: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      // max-width: 346px;
      height: 90px;
      border-radius: 8px;
      opacity: 0.7;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      color: var(--text-color);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      background: var(--record-import-data-bg);
      letter-spacing: 0.8px;
      &:hover {
        background: rgba(139, 139, 139, 0.08);
        outline: 1px solid #3377ff;
      }
      .ysd-icon {
        // margin-right: 5px;
        font-size: 20px;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        line-height: normal;
        .title {
          text-align: left;
        }
        .sub-title {
          font-size: 14px;
          opacity: 0.5;
          text-align: left;
          .ysd-icon {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
  &-black-list-modal {
    padding-bottom: 0;
    .black-body {
      height: 770px;
      position: relative;
      .ysd-tabs {
        width: 100%;
      }
      .card-checked {
        position: absolute;
        left: 10px;
        top: 8px;
        z-index: 2;

        .ysd-checkbox {
          .ysd-checkbox-inner {
            width: 24px;
            height: 24px;
            &::after {
              left: 28%;
            }
          }
        }
      }
      .black-title {
        display: flex;
        @include sfp.flex-gap(10px);
        margin-top: 10px;
        height: 19px;
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
        line-height: 22px;
        span {
          color: #3377ff;
          margin: 5px;
        }
        .ysd-tag {
          &:hover {
            background-color: var(--danger-color-10) !important;
            border: none;
            .ysd-tag-close-btn {
              color: #ff5b4d;
            }
          }
        }
      }
      .black-content {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        height: 620px;
        @include scrollBar();
        .card-person-item {
          flex: none;
        }
        .no-blackData {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 200px;
            height: 200px;
          }
        }
        .target-face-card {
          max-width: 300px;
          width: 210px;
          height: 300px;
          padding: 10px;
          margin-right: 18px;
          margin-bottom: 18px;
          background-color: var(--base-color2);
          border-radius: 4px;
          border: 1px solid var(--base-color1-10);
          position: relative;
          .image {
            height: 180px;
            margin-bottom: 12px;
            cursor: pointer;
          }
          .face-card-info {
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            .now-capture {
              margin: 5px 0;
            }
            .capture-num {
              cursor: pointer;
              .card-info-content span {
                color: #3377ff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .card-info {
              display: flex;
              height: 20px;
              .card-info-content {
                padding-left: 5px;
              }
            }
          }
        }
        .card-normal-item {
          flex: none;
          width: 210px;
          height: 310px;
        }
        .loading {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .black-footer {
        position: absolute;
        bottom: 0;
        height: 66px;
        width: 100%;
        border-top: 1px solid var(--base-color1-10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-left {
          display: flex;
          align-items: center;
          @include sfp.flex-gap(16px);
          .all-checked {
            display: flex;
            align-items: center;
            .ysd-checkbox-wrapper {
              margin-right: 10px;
            }
          }
          .checked-list {
            span {
              color: #ff5b4d;
              margin: 5px;
            }
          }
        }
      }
    }
  }
  &-cluter-modal {
    .cluter-body {
      position: relative;
      height: 620px;
      @include scrollBar();
      // padding-bottom: 50px;
      .title {
        span {
          color: #3377ff;
          margin: 5px;
        }
      }
      .content {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        .card-normal-item {
          flex: none;
          height: fit-content;
        }
        .ajax-loading {
          width: 100%;
          height: 500px;
          display: flex;
          justify-content: center;
        }
      }
      .cluter-pagination {
        position: absolute;
        right: 0;
        bottom: 10px;
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
      margin-top: 0;
    }
  }
}
