.label-manage-image-view {
  .result-item {
    .title-icon {
      & > div > span {
        cursor: pointer;
      }
      .edit-item {
        color: var(--primary-color);
        cursor: pointer;
      }
    }
    &-con {
      display: flex;
      flex-wrap: wrap;
      @include sfp.flex-gap(18px);

      padding-bottom: 16px;

      .card-normal-item {
        display: inline-block;
        margin: 0;
        max-width: 207px;
      }
    }
  }
}
