@import "../../../assets/css/mixin.scss";
.vehicle-track {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: hidden;

  &-content {
    width: 100%;
    height: 100%;
    position: relative;

    .ysc-map-component {
  
      .custom-popup-box {
        .track-popver-content {
          width: 280px;
          padding: 10px;
          background-color: var(--card-cross-bg);
          position: relative;

          .img-box {
            width: 260px;
            height: 212px;
            margin-bottom: 10px;
            cursor: pointer;
          }
          .info-box {
            .card-info {
              padding: 4px 0;
              .ysd-icon {
                margin-right: 6px;
              }
            }
            .plate-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          .btn-change {
            position: absolute;
            top: 86px;
            width: 16px;
            height: 46px;
            border-radius: 2px;
            box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            line-height: 46px;
            text-align: center;
            cursor: pointer;

            &.btn-prev {
              left: 10px;
            }

            &.btn-next {
              right: 10px;
            }

            &.disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .ysd-drawer-left {
      &.ysd-drawer-open {
        width: 436px !important;
      }
      .ysd-drawer-body {
        display: block !important;
        .ysd-form {
          .form-plate-multi {
            margin-bottom: 16px;
          }
          .time-range-picker {
            .ysd-picker {
              width: 100%;
              .ysd-picker-range-separator {
                padding: 0 4px;
              }
            }
          }
        }

        .retrieval-form {
          height: calc(100% - 70px);
          padding-right: 3px;
          @include scrollBar();
        }
        .retrieval-btn {
          padding: 16px 10px 0 10px;
          height: unset;
        }
      }
    }

    .ysd-drawer-right {
      .ysd-drawer-body {
        .result-con {
          height: 100%;

          .result-tabs {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid var(--base-color1-20);
            padding-bottom: 10px;
            margin-bottom: 10px;

            .result-tabs-item {
              width: calc(50% - 6px);
              border: 1px solid var(--list-border-color);
              border-radius: 4px;
              padding: 12px;
              position: relative;

              &:hover {
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
              }

              &.checked {
                border-color: var(--primary-color);
              }

              &-info {
                display: flex;
                line-height: 28px;
                align-items: center;

                .track-color-line {
                  display: inline-block;
                  width: 54px;
                  height: 6px;
                  border-radius: 2px;
                  position: relative;
                }
              }

              .ysd-icon-check-circle-outlined {
                position: absolute;
                right: 8px;
                bottom: 8px;
                color: var(--primary-color);
                font-size: 16px;
              }
            }
          }
          .result-total {
            display: flex;
            justify-content: space-between;
            .total-left {
              display: flex;
              line-height: 28px;

              & > span {
                color: var(--primary-color);
                margin: 0 2px;
              }
              .fusion3-export-btn-wrap {
                width: 60px;
                margin-left: 10px;

                .ysd-btn {
                  min-width: 60px;
                  margin-left: 13px;
                  height: 28px;
                  line-height: 28px;
                }
              }
            }

            .total-right {
              .ysd-select {
                border: none;
                .ysd-select-view {
                  min-height: 0;
                  height: 28px;
                  line-height: 28px;
                }
              }
            }
          }
          .result-content {
            height: calc(100% - 103px - 30px);
            @include scrollBar;

            .nodata {
              width: 100%;
              height: 100%;
              background: url(../../../assets/images/image/target-nodata-2.png) no-repeat center;
            }
          }
        }
      }
    }
  }
}

.big-img-modal {
  .track-img-right-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    .yisa-panel {
      .target-info-content {
        margin: 0 16px;
      }
      &:nth-child(n + 2) {
        .yisa-panel-header {
          margin-top: 12px;
        }
      }
      &.track-panel {
        // height: calc(100% - 376px);
        flex: auto;
        display: flex;
        flex-direction: column;
        @include scrollBar();
        .yisa-panel-container {
          margin: 0 16px;
          // max-height: calc(100% - 54px);
          @include scrollBar();
          .card-track-info {
            &:nth-child(n + 2) {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
