@import "@/assets/css/mixin.scss";

@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
$record-detail: "record-detail";

.#{$record-detail} {
  height: 100%;
  display: flex;
  &-person-info {
    width: 230px;
    padding: 15px;
    border-right: 1px solid var(--tabs-line-border);
    position: relative;
    display: flex;
    flex-direction: column;
    .info-header {
      height: 19px;
      font-size: 14px;
      font-family: Microsoft YaHei, Microsoft YaHei-Bold;
      font-weight: 700;
      text-align: left;
      color: var(--breadcrumb-last-color);
      line-height: 22px;
      align-items: center;
      position: relative;
      display: flex;
      &::before {
        content: "";
        width: 4px;
        height: 16px;
        background: #3377ff;
        border-radius: 2px;
        margin-right: 10px;
      }
      .title-right {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        @include sfp.flex-gap((0, 10px));
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-right: 5px;
        cursor: pointer;
        .btn {
          width: 46px;
          height: 24px;
          border-radius: 4px;
          line-height: 24px;
        }
        .edit-btn {
          color: #3377ff;
          border: 1px solid #3377ff;
        }
        .save-btn {
          color: #3377ff;
          border: 1px solid #3377ff;
        }
        .cancel-btn {
          color: #ff5b4d;
          border: 1px solid #ff5b4d;
        }
      }
    }
    .info-content {
      margin-top: 10px;
      .ysd-image-wrapper {
        width: 196px;
        height: 196px;
        border: 1px solid var(--image-border-color);
        border-radius: 4px;
      }
      .person-name {
        line-height: 40px;
        margin: 5px 0;
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        color: var(--breadcrumb-last-color);
        @include text-ellipsis(multi);
        .ysd-input-wrapper {
          height: 32px;
          .ysd-input-inner,
          .ysd-input-word-limit {
            height: 100%;
            line-height: 32px;
          }
        }
      }
      .person-idcard {
        height: 32px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 20px;
        color: var(--breadcrumb-last-color);
      }
      .person-label {
        width: 199px;
        @include tag-item();
        .ysd-tag {
          max-width: 100px;
        }
        .label-item-more {
          cursor: pointer;
        }
        .ysd-tree-select-trigger {
          z-index: 2000;
        }
      }
    }
    .info-nav{
      flex: 1;
      margin: 20px 0 44px 0;
      border-top: 1px solid var(--base-color1-10);
      @include scrollBar();
    }
    .info-loading {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 250px;
      align-items: center;
    }
    .add-black-list {
      position: absolute;
      bottom: 20px;
      .ysd-btn {
        width: 196px;
      }
    }
    .black-info {
      position: absolute;
      top: 10px;
      right: 0;
      width: 95px;
      height: 95px;
      background: url(../../../../assets/images/record/add-black.png) no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        font-size: 14px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: center;
        color: #ff5b4d;
        line-height: 19px;
        width: 50px;
      }
    }
  }
  &-tab {
    width: 100%;
  }
  &-popover-label {
    .ysd-popover-inner-content {
      max-width: 210px;
      .person-label {
        display: flex;
        flex-wrap: wrap;
        @include tag-item();
        .ysd-tag {
          max-width: 100px;
        }
        .ysd-tree-select-trigger {
          z-index: 2000;
        }
      }
    }
  }
  &-radio {
    width: 100%;
    border-bottom: 1px solid var(--tabs-line-border);
    .ysd-radio-button-wrapper {
      background: none;
      border: none;
      color: var(--text-color);
      border-radius: 0;
      padding: 6px 33px;
      font-size: 14px;
      text-align: center;
      min-width: 120px;
      &.ysd-radio-button-wrapper-checked {
        border-bottom: 2px solid var(--tabs-line-border-color);
        color: var(--tabs-line-active-color);
        font-size: 14px;
      }
      &:hover {
        color: var(--tabs-line-active-color);
      }
    }
  }
  &-person-content {
    padding: 15px;
    // flex: 1;
    width: calc(100% - 230px);
    .active-data {
      height: calc(100% - 40px);
      overflow-y: auto;
      position: relative;
      @include scrollBar();
    }
  }
  &-no-auth-content {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-black-modal {
    .ysd-modal-content {
      padding: 50px 40px;
      .relate-introduce {
        width: 405px;
        height: 50px;
        font-size: 14px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        color: var(--text-color);
        span {
          color: #ff8d1a;
        }
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
      margin-top: 0;
    }
  }
}
