.active-night-table-view {
  .actions {
    display: flex;
    @include sfp.flex-gap(10px);
  }
  .ysd-image-wrapper {
    margin: 0 auto;
    width: 85px;
    height: 32px;
    .ysd-icon {
      font-size: 20px;
    }
  }
}

