@import "~@/assets/css/mixin.scss";
.error-submit-modal {
  z-index: 2030 !important;
  // width: 740px !important;
  // max-height: 400px;
  // overflow-y: auto;
  // @include scrollBar();
  .ysd-modal {
    width: 600px !important;
    .ysd-modal-content {
      max-height: 400px;
      overflow-y: auto;
      @include scrollBar();
      .ysd-radio-group{
        // width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .text-tixing{
        margin: 10px 0;
      }
    }
  }
}
