@import "@/assets/css/mixin";

.vehicle-fake-clone {
  .page-top {
    max-height: calc(100% - 65px);
    padding: 16px 16px 0 16px;
    @include scrollBar();

    .search-box {
      .ysd-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include sfp.flex-gap((0, 14px));
        position: relative;

        &-item {
          width: auto;
          margin-bottom: 16px;

          //输入框
          &.backtrack-time {
            .ysd-form-item-content-value {
              width: 242px;
            }
          }

          //下拉框
          .ysd-select {
            width: 242px;
          }

          //按钮
          .location-map-list-btn {
            width: 242px;
          }

          //时间
          &.time-range-picker {
            .ysd-form-item-content-value-input {
              .ysd-space-item:first-child {
                .ysd-select {
                  padding: 0 6px;
                  width: 64px !important;
                }
              }
            }
          }
        }

        .fusion3-form-plate-form-input {
          width: 168px;

          .ysd-input-inner {
            border-radius: 0 4px 4px 0;
            border-left: none;
          }
        }
      }

      .ysd-divider {
        margin: 0 0 16px 0;
      }

      .filter {
        .result-group-filter-show {
          margin-bottom: 16px;
        }
      }
    }

    .result-box {
      &-header {
        margin-bottom: 16px;

        .result-header-right {
          font-size: 12px;

          .ysd-radio-group.ysd-radio-group-middle {
            height: 32px;

            .ysd-radio-button-wrapper {
              height: 32px;
              padding: 0 16px;
            }
          }

          .fusion3-export-btn-wrap .ysd-btn {
            min-width: auto;
            padding: 0 16px;
          }
        }
      }

      &-body {
        .result-card-list-row {
          display: flex;
          justify-content: space-between;

          > div {
            &:last-child {
              margin-right: 0;
            }
          }
        }

        //针对宽度做限制
        .card-item-flex {
          flex: auto;
          margin-right: 18px;
          margin-bottom: 18px;
          width: 182px;
        }
      }

      .ysdb-result-box-nodata {
        margin-top: 16vh;
      }
    }
  }

  .page-bottom {
    .left {
      height: 32px;
      display: flex;
      align-items: center;
    }
  }
}

.fake-clone-big-img {
  display: flex;
  flex-direction: column;
  height: 100%;

  .img-info-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include sfp.flex-gap((10px, 0));
    padding: 10px 16px;
    background-color: var(--primary-color-10);

    > div {
      display: flex;
      align-items: center;
      width: 100%;

      > div:first-child {
        width: 56px;
        color: var(--base-color1-65);
      }

      >div:last-child, >a:last-child {
        max-width: calc(100% - 70px);
        margin-left: 10px;
        font-weight: 700;
        font-family: boid;
        @include text-ellipsis();
      }
      a.plate-text {
        color: var(--primary-color);
        &.plate-error{
          color: var(--base-color1);
        }
      }
    }
  }

  .img-info-target {
    margin-bottom: 10px;

    .img-info-item {
      > div:nth-child(1),
      > div:nth-child(2) {
        width: calc(50% - 20px);
      }
    }
  }

  .info-map-wrap {
    flex: 1;
    margin-top: 10px;
  }
}

.fake-clone-big-img,
.regional-mapping-big-img {
  .yisa-panel-header {
    height: auto;
    margin-bottom: 10px;

    .yisa-panel-header-title {
      height: auto;
      line-height: 22px;

      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
