@import "@/assets/css/mixin.scss";
$gait-modal-btn-cls: "gait-modal-btn";
$size: 130px;
$itemSize: 166px;

.#{$gait-modal-btn-cls} {
  &-wrapper {
    display: flex;
  }
  &-feature-list {
    display: flex;
    > li {
      width: $size;
      height: $size;
      margin-right: 15px;
      position: relative;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      .del-target {
        display: none;
        position: absolute;
        right: 0;
        top: -4px;
        color: var(--danger-color);
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-bottom-left-radius: 20px;
        font-weight: bold;
        svg {
          margin-left: 4px;
        }
      }
      &:hover {
        .del-target {
          display: block;
        }
      }
      .feature-type-tip {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        border-radius: 4px 0px 10px 0px;
        padding: 2px 12px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &-slot {
    width: $size;
    height: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--base-color1-50);
    border: 1px dashed var(--base-color1-30);
    border-radius: 4px;
    cursor: pointer;
    .ysd-icon.ysd-icon-plus-outlined {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &-modal {
    width: 1605px;
    max-width: 95%;
    @media screen and (max-width: 1440px) {
      width: 1258px;
      max-width: 95%;
    }
    &-tip {
      height: 32px;
      line-height: 32px;
      padding-left: 10px;
      border-radius: 2px;
      background: var(--warning-color-10);
      margin: -6px 0 10px 0;
      .ysd-icon {
        color: var(--warning-color);
        margin-right: 5px;
      }
      > span {
        > i {
          color: var(--primary-color);
          font-style: normal;
          margin: 0 3px;
        }
      }
    }
    .ysd-modal-content {
      .#{$gait-modal-btn-cls}-modal-wrapper {
        display: flex;
        @include sfp.flex-gap((0, 20px));
        height: 714px;
      }
    }
    &-left {
      flex: none;
      width: 474px;
      border: 1px solid var(--list-border-color);
      border-radius: 4px;
      padding: 8px 20px 16px;
      position: relative;
      .location-list .ysd-scrollbar{
        background: transparent;
      }
      .location-types-tabs {
        border: none;
        // border-bottom: 1px solid var(--list-border-color);
        padding: 0 0 4px 0;
        // margin-bottom: 17px;
        display: flex;
        justify-content: space-between;

        .ysd-tabs-item {
          // width: 120px;
          width: 50%;
          min-width: 84px;
          padding: 0 10px;
          font-size: 13px;
          height: 28px;
          line-height: 28px;
          &-active {
            font-weight: bold;
          }
        }
      }
      .offline-tabs {
        border-bottom: none;
        margin-bottom: 10px;
      }
      .upload-area {
        .upload-btn {
          cursor: pointer;
          width: 100%;
          height: 414px;
          background: var(--image-video-bg);
          border: 1px dashed rgba(51, 119, 255, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: var(--primary-color);
          margin-bottom: 16px;
          border-radius: 4px;
          > span:first-child {
            margin-right: 10px;
            font-size: 30px;
            font-weight: 300;
          }
        }
        .upload-tip{
          line-height: 20px ;
        }
      }
      .ysd-tree-node-title-text mark {
        color: var(--warning-color);
        background: transparent;
      }
      .check-all {
        color: var(--primary-color);
        cursor: pointer;
      }
      .ysd-divider {
        margin: 0 0 5px 0;
        &.divider-footer {
          width: calc(100% + 40px);
          margin-left: -20px;
        }
      }
      &-header {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        // border-bottom: 1px solid var(--list-border-color);
        padding-bottom: 6px;

        .bold {
          font-weight: bold;
        }
        i {
          color: var(--success-color);
          font-style: normal;
          font-weight: normal;
          &.file {
            color: var(--danger-color);
          }
        }
        .del-all {
          font-size: 14px;
          color: var(--danger-color);
          align-self: flex-end;
          cursor: pointer;
        }
      }
      .ysd-input-wrapper {
        margin-bottom: 20px;
      }
      &-footer {
        position: absolute;
        padding: 0 20px;
        width: 100%;
        margin-left: -20px;
        bottom: 20px;
      }
      .time-range-picker {
        .ysd-form-item-content-label {
          .prefix {
            position: relative;
            padding-left: 10px;
            &::before {
              content: "";
              position: absolute;
              width: 4px;
              height: 16px;
              background: var(--primary-color);
              border-radius: 2px;
              top: 3px;
              left: 0;
            }
          }
        }
        .periods {
          right: 4px;
        }
      }
      &-search {
        text-align: center;
        margin-top: 16px;
      }
    }
    &-right {
      flex: auto;
      // width: 875px;
      border: 1px solid var(--list-border-color);
      border-radius: 4px;
      padding: 8px 20px 10px;
      display: flex;
      flex-direction: column;
      // @media screen and (max-width: 1440px) {
      //   width: 709px;
      // }

      &-header {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        display: flex;
        // justify-content: space-between;
        border-bottom: 1px solid var(--list-border-color);
        .bold {
          font-weight: bold;
        }
        i {
          color: var(--success-color);
          font-style: normal;
          font-weight: normal;
          margin: 0 2px;
          &.gait-target {
            color: var(--danger-color);
          }
        }
      }
      &-selected {
        margin: 17px 0;
        height: 19px;
        line-height: 19px;
        em {
          font-style: normal;
          margin: 0 2px;
          color: var(--success-color);
          &:nth-child(2) {
            color: var(--danger-color);
          }
        }
      }
      &-list {
        // max-height: calc(100% - 16px - 32px - 54px - 72px);
        max-height: calc(100% - 16px - 32px - 54px - 42px);
        @include scrollBar();
        flex: auto;
        position: relative;
        .container {
          display: flex;
          flex-wrap: wrap;
          @include sfp.flex-gap(6px);
          &-item {
            border: 1px solid var(--base-color1-30);
            padding: 8px;
            width: $itemSize;
            height: $itemSize;
            border-radius: 4px;
            cursor: pointer;
            .content {
              width: 100%;
              height: 100%;
              border: 1px solid var(--base-color1-30);
              position: relative;
              border-radius: 4px 4px 0 0;
              .ysd-checkbox-wrapper {
                position: absolute;
                z-index: 2;
                left: 3px;
              }
              > span {
                position: absolute;
                z-index: 2;
                right: -1px;
                top: -1px;
                background: rgba(#000000, 0.7);
                color: #fff;
                border-radius: 0 2px 0 10px;
                height: 24px;
                line-height: 24px;
                width: 50px;
                text-align: center;
                .ysd-icon {
                  margin-right: 5px;
                }
              }
              > img {
                // position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .nodata {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          > img {
            width: 300px;
            height: 300px;
          }
        }
      }
      &-btn {
        // height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        .ysd-btn{
          margin-top: 20px;
        }
      }
    }
    .ysd-scrollbar {
      width: 12px;
      background-color: var(--scroll-bg-color);
    }
  }
}
