@import "@/assets/css/mixin";
$prefix: clue-task;

.#{$prefix} {
  display: flex;
  height: 100%;
  padding: 16px;
  overflow: unset !important;

  &-task-list {
    width: 278px;
    height: 100%;
    margin-right: 16px;
    padding-right: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -16px;
      width: 1px;
      height: calc(100% + 32px);
      background-color: var(--base-color1-20);
    }
  }

  &-task-details {
    width: calc(100% - 278px - 16px);
    height: 100%;
    position: relative;
    .right-box {
      height: 100%;
      // width: 100%;
      .ysd-divider {
        margin: 12px 0 12px 0;
      }
      .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
        .top-title {
          display: flex;
          align-items: center;
          span {
            height: 14px;
          }
          .total-length {
            color: var(--primary-color);
            width: 30px;
            text-align: center;
          }
        }
        .ysd-btn-md {
          height: 28px;
        }
      }
      .ysdb-result-box-loading {
        height: 80%;
      }
      .listbox {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        height: 80%;
        .card-list {
          width: 100%;
          .result-card-list-row {
            .card-person-item {
              width: 358px;
            }
            .card-item-flex {
              width: 358px;
              flex: auto;
              margin-right: 18px;
              margin-bottom: 18px;
            }
          }
        }
        overflow-y: auto;
        @include scrollBar();
      }
      .bottombox {
        position: absolute;
        z-index: 3;
        border-top: 1px solid var(--divider-border-color);
        background-color: var(--layout-vertical-content-body-bg-color);
        padding: 16px;
        display: flex;
        justify-content: space-between;
        width: initial;
        // height: 66px;
        bottom: -16px !important;
        left: -16px !important;
        right: -16px !important;
        .button-box {
          display: flex;
          height: 100%;
          align-items: center;
          .ysd-space {
            margin-left: 15px;
            // .ysd-btn-md {
            //     min-width: 60px;
            // }
            .btn-link {
              margin-left: 0;
            }
          }

          .bottom-title {
            // font-size: 14px;
            height: 14px;
            min-width: 101px;
            .checked-length {
              // color: red;
              color: var(--danger-color);
              width: 20px;
              text-align: center;
            }
          }

          .ysd-checkbox-wrapper {
            min-width: 60px;
          }
        }
      }
    }
  }
}
