@import "~@/assets/css/mixin.scss";
$size: 130px;
$clusterPrefixCls: "img-cluster-modal";
.img-upload {
  .upload-hisory-popver {
    z-index: 2;
    width: $size;
    height: $size;
  }
  .ysd-upload-wrap {
    width: $size;
    height: $size;
    .ysd-upload {
      width: 100%;
      height: 100%;
      border: 1px dashed var(--base-color1-30);
      border-radius: 4px;
      .ysd-upload-trigger {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--base-color1-50);
        text-align: center;

        .ysd-icon {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .upload-box {
    display: inline-block;
    vertical-align: top;
  }
  .feature-list-wraps {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    // overflow-x: overlay;
    // overflow-y: hidden;
    // &::-webkit-scrollbar-track-piece {
    //   background-color: var(--color-bg-body);
    // }
    // &::-webkit-scrollbar {
    //   width: 8px;
    //   height: 8px;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background-color: var(--color-border);
    //   background-clip: padding-box;
    //   border-radius: 8px;
    //   min-height: 28px;
    // }
    &.one-search {
      max-width: 100%;
      .feature-list {
        ul {
          li {
            margin-right: 0;
          }
        }
      }
    }
    &.over-limit {
      max-width: 100%;
    }
    .feature-list {
      display: inline-block;
      max-width: 100%;
      ul {
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        
        .retrieval-form {
          margin-right: -10px;
        }

        li {
          vertical-align: top;
          display: inline-block;
          width: $size;
          height: $size;
          // margin-right: 15px;
          // float: left;
          position: relative;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          .del-target {
            display: none;
            position: absolute;
            right: 0;
            top: -4px;
            color: var(--danger-color);
            cursor: pointer;
            font-size: 14px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-bottom-left-radius: 20px;
            font-weight: bold;
            svg {
              margin-left: 4px;
            }
          }
          &:hover {
            .del-target {
              display: block;
            }
          }
          .feature-type-tip {
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            border-radius: 4px 0px 10px 0px;
            padding: 2px 12px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.upload-hisory-popver-overlay {
  .ysd-popover-content {
    border-radius: 4px;

    .ysd-popover-inner {
      .ysd-popover-inner-content {
        padding: 6px;
        width: 528px;
        height: 110px;
        .ysd-popover-inner-content-content {
          width: 100%;
          height: 100%;
          .upload-history-box {
            height: 100%;
            color: var(--base-color1);
            display: flex;
            > span {
              display: flex;
              align-items: center;
              width: 16px;
              font-size: 16px;
              margin-right: 6px;
              color: var(--base-color1-50);
              white-space: wrap;
              text-align: center;
            }

            img,
            .ysd-image-error-content {
              width: 90px;
              height: 90px;
              cursor: pointer;
            }
            .ysd-image-error-content {
              display: flex;
              width: 90px;
              height: 90px;
              cursor: pointer;
              align-items: center;
              justify-content: center;
            }

            .loading-box,
            .no-data {
              width: 100%;
              text-align: center;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

.img-upload-modal {
  .ysd-modal {
    width: 90vw !important;
    height: 85vh;
    top: 50px;
    padding: 20px;
    .ysd-modal-header {
      height: 38px;
    }
    .ysd-modal-content {
      width: 100%;
      height: calc(85vh - 38px - 40px);
      .modal-top {
        height: 32px;
        margin-bottom: 16px;
      }
      .img-upload-wrap {
        width: 100%;
        height: calc(100% - 32px - 16px);
        display: flex;
        .img-upload-left {
          position: relative;
          flex: auto;
          width: calc(100% - 340px - 20px);
          height: 100%;
          border: 1px solid var(--base-color1-10);
          border-radius: 4px;
          background: var(--img-preview-background-color);
          overflow: hidden;

          .image-cropper {
            z-index: 1;
          }

          .cut-btn {
            position: absolute;
            left: 160px;
            bottom: 34px;
            cursor: pointer;
            z-index: 2;
            transition: bottom 0.2s;

            &.hide {
              bottom: -192px;
            }
          }
          .ysdb-img-preview-content {
            .ysdb-img-preview-feature-item {
              border-width: 1px;
            }
          }
        }
        .img-upload-right {
          width: 340px;
          margin-left: 20px;
          display: flex;
          flex-direction: column;

          &-header {
            font-weight: bold;
            margin-bottom: 10px;
            span {
              color: var(--danger-color);
              margin: 0 2px;
            }
          }
          &-content {
            height: calc(100% - 26px - 72px);
            overflow-y: auto;

            &::-webkit-scrollbar-track-piece,
            &::-webkit-scrollbar-corner,
            &::-webkit-scrollbar-track {
              background-color: var(--layout-scroll-bar-bg-color);
            }

            &::-webkit-scrollbar {
              width: 7px;
              height: 12px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: var(--layout-scroll-thumb-color);
              border-radius: 4px;
            }

            ul {
              li {
                vertical-align: top;
                display: inline-block;
                width: $size;
                height: $size;
                margin-right: 15px;
                margin-bottom: 15px;
                // float: left;
                position: relative;
                img {
                  object-fit: contain;
                  width: 100%;
                  height: 100%;
                }
                .del-target {
                  display: none;
                  position: absolute;
                  right: 0;
                  top: -4px;
                  color: var(--danger-color);
                  cursor: pointer;
                  font-size: 14px;
                  width: 24px;
                  height: 24px;
                  line-height: 24px;
                  text-align: center;
                  border-bottom-left-radius: 20px;
                  font-weight: bold;
                  svg {
                    margin-left: 4px;
                  }
                }
                &:hover {
                  .del-target {
                    display: block;
                  }
                }

                .feature-type-tip {
                  background: rgba(0, 0, 0, 0.7);
                  color: #fff;
                  border-radius: 4px 0px 10px 0px;
                  padding: 2px 12px;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
              }
            }
            
            .nodata {
              width: 100%;
              height: 100%;
              text-align: center;
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
          }
          &-btn {
            flex: auto;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.#{$clusterPrefixCls} {
  &-wrapper {
    display: flex;
    .cluster-target {
      flex: none;
      &-container {
        width: 214px;
        height: 200px;
        padding-left: 14px;
      }
    }
    .cluster-result {
      margin-left: 14px;
      flex: auto;
      &-wrapper {
        padding-left: 14px;
        .img-container {
          display: flex;
          flex-wrap: wrap;
          height: 590px;
          @include scrollBar();
          .card-normal-item {
            padding-bottom: 10px;
            cursor: pointer;
          }
          > li:nth-child(4n) {
            .card-normal-item {
              margin-right: 0;
            }
          }
        }
        .result-buttons {
          display: flex;
          align-items: center;
          > span {
            .ysd-icon {
              margin-right: 10px;
              color: var(--primary-color);
            }
            em {
              font-style: normal;
            }
          }
          > .ysd-btn-md {
            &:nth-child(2) {
              margin-left: auto;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}
