@import "@/assets/css/mixin.scss";
.pagination-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 66px;
  .scroll-area {
    @include scrollBar;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }

  & > footer {
    padding: 0 16px;
    border-top: 1px solid var(--divider-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
