.city-massmarker {
  // position: relative;
  // width: 100%;
  // height: 100%;
  .draw-tools {
    background-color: var(--modal-bg-color);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 8px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 502;
    font-size: 24px;

    .ysd-icon {
      margin: 0 8px;
      cursor: pointer;
      opacity: 0.5;
    }

    .active {
      color: var(--primary-color);
      .ysd-icon {
        opacity: 1;
      }
    }
  }
}
.leaflet-div-icon {
  border: none !important; //覆盖库默认样式
  background: transparent !important;
}
.city-label {
  border-radius: 50%;
  background: var(--success-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  &:hover {
    background: var(--danger-color);
  }
}
