@import "~@/assets/css/mixin.scss";
.foothold-search-wrapper {
  height: calc(100% - 70px);
  @include scrollBar();
  padding-right: 3px;
  .ysd-form {
    .img-upload-idcard {
      margin-bottom: 16px;
      .ysd-form-item-content-label {
        padding-left: 0px;
        .custom-label {
          &.label-required {
            position: relative;
            &::before {
              content: "*";
              left: 0px;
              position: absolute;
              color: var(--danger-color);
            }
          }
        }
      }
      .ysd-form-item-content-label:before {
        left: 10px;
      }
    }
    .ysd-form-item {
      margin-bottom: 16px;
      .ysd-form-item-content-label {
        .custom-label {
          padding-left: 10px;
        }
      }
      .ysd-input-number {
        .ysd-input-inner {
          border-right-color: transparent;
        }
        &:hover {
          .ysd-input-inner {
            border-right-color: var(--input-border-color);
          }
        }
        .ysd-input-inner-addafter {
          color: var(--input-icon-color);
        }
      }
    }
    .ysd-form-item-required {
      .ysd-form-item-content-label {
        .custom-label {
          padding-left: 0px;
        }
      }
    }
    .time-range-picker {
      .custom-label {
        padding-left: 10px;
      }
      .ysd-space {
        display: flex;
        .ysd-space-item:nth-child(1) {
          .ysd-select {
            width: 66px !important;
            margin: 0 0 0 10px;
          }
        }
 
        .ysd-picker {
          width: 100%;
          .ysd-picker-range-separator {
            padding: 0 4px;
          }
        }
      }
    }
    .location-map-list {
      .location-map-list-btn {
        width: 100%;
      }
    }
    .fusion3-form-plate {
      width: 100%;
      .ysd-input-inner {
        border-radius: 0 4px 4px 0;
        border-left: none;
      }
    }
    .form-vehicle-modal .fusion3-vehicle-model {
      width: 327px;
    }
  }
}
