@import "../../assets/css/mixin.scss";
$searchInputBorderColor: #37a0f6;

@keyframes showOptions {
  0% {
    opacity: 0;
    max-height: 20px;
  }

  100% {
    opacity: 1;
    max-height: 250px;
  }
}

@keyframes showInfo {
  0% {
    max-height: 250px;
  }

  100% {
    height: 0;
  }
}
$record-search-input: "record-search-input-home";
.#{$record-search-input} {
  margin-top: 30px;
  .more-search-btn {
    display: flex;
    justify-content: flex-end;
    // padding-right: 160px;
    // margin-bottom: 20px;
    align-items: center;
    height: 22px;
    text-align: left;
    color: #00aefb;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    .btn {
      cursor: pointer;
      font-size: 16px;
      img {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
      .ysd-icon {
        margin-right: 5px;
      }
    }
  }
  .search-input {
    margin: 0 auto;
    width: 1052px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    position: relative;
    .more-search-groups {
      position: absolute;
      top: 53px;
      width: 100%;
      height: 0;
      background: linear-gradient(180deg, rgba(32, 93, 174, 0.86), rgba(12, 63, 141, 0.74) 49%, rgba(0, 49, 113, 0.86));
      box-shadow: 0px 3px 6px 0px rgba(0, 85, 255, 0.49);
      border-radius: 4px;
      z-index: 2;
      overflow: hidden;
      color: #fff;
      .clost-btn {
        position: absolute;
        right: 20px;
        top: 16px;
        cursor: pointer;
        z-index: 2;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: -10px;
        line-height: 30px;
      }
      .more-search-tabs {
        width: 100%;
      }
      .tab-content {
        .search-items {
          flex: 1;
          display: flex;
          margin-left: 15px;
          @include sfp.flex-gap(14px);
          .ysd-form {
            display: flex;
            @include sfp.flex-gap(10px);
            flex-wrap: wrap;
            .ysd-form-item {
              margin-bottom: 0px;
              width: auto;
              .fusion3-form-plate-form-input {
                width: 168px;
              }
              .ysd-form-item-content-value {
                width: 242px;
              }
              .ysd-form-item-content-value-input {
                // justify-content: flex-end;
              }
            }
            .reset-btn-wrap {
              .ysd-form-item-content-value {
                width: auto;
                button {
                  background: var(--technology-form-bg);
                  border: 1px solid var(--technology-form-border);
                  color: #fff !important;
                }
              }
            }
            .native-place {
              .place-box {
                position: relative;
                width: 100%;
                .unplace {
                  position: absolute;
                  top: -25px;
                  right: 0;
                  font-weight: 400;
                  text-align: left;
                  line-height: 22px;
                  color: var(--form-label-color);
                  font-size: var(--form-label-font-size);
                }
              }
            }
            .age-box {
              position: relative;
              width: 100%;
              .minority {
                position: absolute;
                top: -25px;
                right: 0;
                font-weight: 400;
                text-align: left;
                line-height: 22px;
                // color: var(--form-label-color);
                font-size: var(--form-label-font-size);
                display: flex;
                @include sfp.flex-gap(10px);
                padding-right: 3px;
                color: #ffffff;
                > span {
                  cursor: pointer;
                }
              }
              //TODO:移值
              .ysd-input-group {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
            .input-group {
              .ysd-input-wrapper {
                width: 112px;
              }
              .times-box {
                display: flex;
                @include sfp.flex-gap(6px);
                position: relative;
                .cc-form-input-groups {
                  .ysd-input-group {
                    display: flex;
                    align-items: center;
                    @include sfp.flex-gap((0, 4px));
                  }
                }
                .ysd-input-wrapper {
                  width: 55px;
                }
                .ysd-select__placeholder {
                  font-size: 14px;
                  font-weight: 400;
                  text-align: left;
                  color: #fff;
                  opacity: 0.77;
                  letter-spacing: 1.4px;
                }
                .minority {
                  position: absolute;
                  top: -25px;
                  right: 0;
                  .ysd-checkbox + span {
                    padding-right: 0;
                    color: #fff;
                  }
                }
              }
            }
            .person-label {
              .ysd-tag {
                max-width: 100px;
                color: #fff;
                border-color: rgba(255, 255, 255, 0.5) !important;
              }
            }
            .type-id {
              display: flex;
              .ysd-select {
                border-radius: 4px 0 0 4px;
              }
              .ysd-input-inner {
                margin-left: -1px;
                border-radius: 0px 4px 4px 0px;
              }
            }
            .time-range-picker {
              .ysd-form-item-content-value {
                width: unset;
                .ysd-picker-range {
                  width: 416px;
                }
                .ysd-picker-clear {
                  color: #fff;
                }
              }
            }
            $technologyFormBg: rgba(0, 32, 93, 0.53);
            $technologyFormBorder: rgba(151, 210, 255, 0.7);
            $technologyFormBorderFocus: #acc2ff;
            .fusion3-form-plate {
              .ysd-select {
                border-color: $technologyFormBorder;
                background: $technologyFormBg;
                color: #fff !important;
                &.ysd-select-hover {
                  border-color: $technologyFormBorder;
                }
                &.ysd-select-focused {
                  border-color: $technologyFormBorderFocus;
                  outline: none;
                }
                .ysd-select__suffix {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .input-box {
      width: calc(100% - 185px);
      display: flex;
      @include sfp.flex-gap(5px);
      padding-left: 20px;
      line-height: 24px;
      cursor: pointer;
      .input-value {
        font-size: 14px;
        @include text-ellipsis(multi);
      }
      .close-btn {
        font-size: 20px;
        color: var(--input-icon-color);
      }
    }
    .more-search-open {
      min-height: 306px;
      // height: auto;
      border: 1px solid #1d86df;
      padding: 10px;
      animation: showOptions 0.3s ease-in-out;
      .tab-content {
        .ysd-form-item-content-label {
          color: #fff;
        }
        .ysd-form-item-content-value {
          .ysd-input-wrapper {
            background: rgba(0, 32, 93, 0.53);
            .ysd-input-inner {
              border: 1px solid rgba(151, 210, 255, 0.7);
              &.ysd-input-inner-hover {
                border-color: rgba(151, 210, 255, 0.7);
              }
              &.ysd-input-inner-focus {
                border-color: #acc2ff;
              }
              input {
                caret-color: #fff;
                color: #fff;
              }
              ::-webkit-input-placeholder {
                color: #fff;
                opacity: 0.5;
                letter-spacing: 1.4px;
              }
            }
          }
        }
      }
    }
    .more-search-retract {
      height: 0;
      padding: 0;
      border: none;
      animation: showInfo 0.3s ease-in-out;
    }
    > .ysd-input-wrapper {
      width: calc(100% - 185px);
      height: 52px;
      background: rgba(0, 46, 106, 0.27);
      border: 1px solid $searchInputBorderColor;
      border-right: none;
      border-radius: 4px 0px 0px 4px;
      .ysd-input-inner {
        border: none;
        input {
          font-size: 16px;
          color: #fff;
          caret-color: #fff;
        }
        ::-webkit-input-placeholder {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          color: #fff;
          opacity: 0.77;
          letter-spacing: 1.4px;
        }
        .ysd-input-clear-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
      &.ysd-input-wrapper-disabled {
        background-color: rgba(34, 34, 38, 0.05);
      }
      .ysd-input-inner-addbefore {
        border-radius: unset;
        background: transparent;
        .ysd-select {
          color: #fff;
          background: transparent;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            z-index: 1000;
            width: 1px;
            height: 22px;
            background: #37a0f6;
            right: -4px;
            top: 5px;
          }
          .ysd-select__suffix {
            color: #fff;
          }
        }
      }
    }
    .upload {
      padding-right: 20px;
      height: 52px;
      display: flex;
      align-items: center;
      border-top: 1px solid $searchInputBorderColor;
      border-bottom: 1px solid $searchInputBorderColor;
      .record-imgupload {
        .feature-list {
          li {
            width: 38px;
            height: 33px;
            .upload-hisory-popver {
              width: 38px;
              height: 33px;
            }
            .ysd-upload-wrap {
              width: 38px;
              height: 33px;
              .ysd-upload {
                border: none;
                .ysd-icon {
                  font-size: 34px;
                  color: #3377ff;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    .search-btn {
      width: 130px;
      height: 52px;
      background: url("~@/assets/images/home/search-btn-bg.png") no-repeat center;
      background-size: 100% 100%;
      border-radius: 0 8px 8px 0;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 52px;
      cursor: pointer;
      .ysd-icon {
        font-size: 20px;
      }
    }
    &.search-input-disabled {
      // background: rgba(34, 34, 38, 0.05);
      background: rgba(var(--record-search-input-bg), 0.6);
      // background: rgba(255, 255, 255, 0.6);
      .ysd-input-wrapper-disabled {
        background: transparent;
      }
      // &:hover {
      //   border: 1px solid transparent;
      // }
    }
  }
  .bottom-options {
    display: flex;
    // @include sfp.flex-gap(10px);
    justify-content: space-between;
    width: 1052px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    .history-search-groups {
      display: flex;
      @include sfp.flex-gap(10px);
      line-height: 22px;
      font-size: 16px;
      font-weight: 400;
      color: var(--text-color);
      .ysd-icon {
        color: #3377ff;
      }
      .history-info {
        height: 22px;
        font-weight: 400;
        line-height: 22px;
        display: flex;
        align-content: center;
        @include sfp.flex-gap(4px);
        color: #fff;
        > div:first-child {
          opacity: 0.65;
          margin-right: 5px;
        }
        .history-item {
          font-weight: 400;
          cursor: pointer;
          display: flex;
          align-items: center;
          .info {
            max-width: 79px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            opacity: 0.65;
            &:hover {
              opacity: 1;
            }
          }
          span {
            display: block;
            border-right: 1px solid #fff;
            width: 1px;
            height: 16px;
            margin: 0 5px;
          }
        }
      }
    }
    .more-btn {
      display: flex;
      @include sfp.flex-gap(10px);
      line-height: 22px;
      cursor: pointer;
      .black-btn,
      .more-btn-item {
        display: flex;
        justify-content: center;
        align-items: center;
        @include sfp.flex-gap(5px);
        width: 116px;
        height: 40px;
        border-radius: 8px;
        opacity: 0.7;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        color: var(--text-color);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        background: rgba(139, 139, 139, 0.16);
        letter-spacing: 0.8px;
        &:hover {
          background: rgba(139, 139, 139, 0.08);
        }
        .ysd-icon {
          // margin-right: 5px;
          font-size: 20px;
        }
      }
      .record-num {
        width: 116px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #3377ff;
        letter-spacing: 0.8px;
        background: rgba(51, 119, 255, 0.08);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        .ysd-icon {
          margin-right: 5px;
        }
        &:hover {
          background: rgba(51, 119, 255, 0.16);
        }
      }
    }
  }
  &-black-list-modal {
    padding-bottom: 0;
    .black-body {
      height: 770px;
      position: relative;
      .ysd-tabs {
        width: 100%;
      }
      .card-checked {
        position: absolute;
        left: 10px;
        top: 8px;
        z-index: 2;

        .ysd-checkbox {
          .ysd-checkbox-inner {
            width: 24px;
            height: 24px;
            &::after {
              left: 28%;
            }
          }
        }
      }
      .black-title {
        display: flex;
        @include sfp.flex-gap(10px);
        margin-top: 10px;
        height: 19px;
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
        line-height: 22px;
        span {
          color: #3377ff;
          margin: 5px;
        }
        .ysd-tag {
          &:hover {
            background-color: var(--danger-color-10) !important;
            // border: none;
            border-color: transparent;
            .ysd-tag-close-btn {
              color: #ff5b4d;
            }
          }
        }
      }
      .black-content {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        height: 620px;
        @include scrollBar();
        .card-person-item {
          flex: none;
        }
        .no-blackData {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 200px;
            height: 200px;
          }
        }
        .target-face-card {
          max-width: 300px;
          width: 210px;
          height: 300px;
          padding: 10px;
          margin-right: 18px;
          margin-bottom: 18px;
          background-color: var(--base-color2);
          border-radius: 4px;
          border: 1px solid var(--base-color1-10);
          position: relative;
          .image {
            height: 180px;
            margin-bottom: 12px;
            cursor: pointer;
          }
          .face-card-info {
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            .now-capture {
              margin: 5px 0;
            }
            .capture-num {
              cursor: pointer;
              .card-info-content span {
                color: #3377ff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .card-info {
              display: flex;
              height: 20px;
              .card-info-content {
                padding-left: 5px;
              }
            }
          }
        }
        .card-normal-item {
          flex: none;
          width: 210px;
          height: 310px;
        }
        .loading {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .black-footer {
        position: absolute;
        bottom: 0;
        height: 66px;
        width: 100%;
        border-top: 1px solid var(--base-color1-10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-left {
          display: flex;
          align-items: center;
          @include sfp.flex-gap(16px);
          .all-checked {
            display: flex;
            align-items: center;
            .ysd-checkbox-wrapper {
              margin-right: 10px;
            }
          }
          .checked-list {
            span {
              color: #ff5b4d;
              margin: 5px;
            }
          }
        }
      }
    }
  }
  &-cluter-modal {
    .cluter-body {
      position: relative;
      height: 620px;
      @include scrollBar();
      // padding-bottom: 50px;
      .title {
        span {
          color: #3377ff;
          margin: 5px;
        }
      }
      .content {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        .card-normal-item {
          flex: none;
          height: fit-content;
        }
        .ajax-loading {
          width: 100%;
          height: 500px;
          display: flex;
          justify-content: center;
        }
      }
      .cluter-pagination {
        position: absolute;
        right: 0;
        bottom: 10px;
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
      margin-top: 0;
    }
  }
}
.#{$record-search-input}.ysd-search-technology {
  .more-search-groups {
    .more-search-tabs {
      color: #fff;
      .ysd-tabs-item {
        &:hover {
          color: #fff;
        }
        &.ysd-tabs-item-active {
          color: #ffbb09;
        }
      }
      .ysd-tabs-bar {
        background: #ffbb09;
      }
    }
  }
}
