.form-plate-multi {
  .ysd-form-item-content-label {
    justify-content: flex-start !important;
  }

  .ysd-form-item-content-value-input > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include sfp.flex-gap((10px 0));
  }

  .plate-item {
    width: 100%;
    display: flex;
    .fusion3-form-plate {
      flex: auto;
      .ysd-select {
        border-radius: 4px 0 0 4px;
        border-right: none;
      }
      .ysd-input-inner {
        border-radius: 0 4px 4px 0;
      }
    }
    .item-btn {
      width: 48px;
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        cursor: pointer;
        user-select: none;
        font-size: 24px;
      }

      .add {
        color: var(--primary-color);
      }
      .del {
        color: var(--danger-color);
      }
    }
  }
}
