$color-success: #22a824;
$color-error: #ff3d24;
$color-gray: #999999;
.card-footer {
  // margin: 0 -10px;
  height: 40px;
  line-height: 39px;
  // border-top: 1px solid var(--base-color1-10);
  padding: 0 10px;
  display: flex;
  @include sfp.flex-gap((0, 16px));
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--base-color1-10);
  }
  

  .ysd-link {
    padding: 0;
    line-height: 39px;
    white-space: nowrap;
    &:hover {
      background-color: transparent;
    }
    &.ysd-link-disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }

  & > a:hover {
    text-decoration: underline !important;
  }
  .no-link {
    color: #999 !important;
    text-decoration: none !important;
  }
  .more-links-wrap-wrap {
    margin-left: auto;
    margin-right: 0;
    .ysd-icon {
      font-size: 11px;
    }
  }
}
