@import "@/assets/css/mixin.scss";

$record-lists: "record-lists";
$record-list-label: "record-list-label";

.#{$record-lists} {
  width: 100%;
  height: calc(100% - 20px);
  padding: 20px;
  padding-bottom: 5px;
  &-header {
    width: 100%;
    .search-input {
      margin: 0;
      .input-box {
        width: calc(100% - 185px);
        display: flex;
        padding-left: 20px;
        .input-value {
          cursor: pointer;
          @include text-ellipsis(multi);
        }
      }
      .ysd-input-wrapper {
        .ysd-input-inner-prefix .ysd-icon {
          font-size: 24px;
        }
      }
      .more-search-open {
        min-height: 216px;
        height: auto;
        padding: 10px;
        .search-items {
          .ysd-form {
          }
        }
      }
    }
    .bottom-options {
      padding-left: 30px;
      padding-right: 0;

      .history-search-groups {
        align-self: flex-start;
      }

      .more-search-btn {
        padding-right: 0;
        // margin-bottom: 0;
      }
    }
  }
  &-content {
    width: 100%;
    height: calc(100% - 174px);
    // box-shadow: 0px 0px 10px 0px rgba(229, 237, 255, 0.13);
    padding: 0 20px;
    @include scrollBar();
    position: relative;
    .total-header {
      display: flex;
      justify-content: space-between;
      .total-num {
        width: 222px;
        height: 19px;
        opacity: 0.85;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: var(--text-color);
        line-height: 22px;
        margin-bottom: 10px;
        span {
          color: #3377ff;
          margin: 5px;
        }
      }
      .total-btn {
        display: flex;
        @include sfp.flex-gap((0, 10px));
        .sort-select {
          border: 1px solid #3377ff;
          border-radius: 4px;
          .ysd-select-view {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: #3377ff;
            line-height: 30px;
          }
          .ysd-select-arrow-icon {
            color: #3377ff;
          }
        }
      }
    }
    .result-nodata {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: var(--resultbox-nodata-tip-color);
      font-size: 20px;
      letter-spacing: 2px;
      position: absolute;
      text-align: center;
    }
    .result-loading {
      display: flex;
      width: 100%;
      height: 300px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .card-type-tabs {
      width: 100%;
    }
    .record-data-lists {
      margin-top: 10px;
    }
  }
  &-footer {
    border-top: 1px solid var(--divider-border-color);
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .button-container {
      color: var(--primary-color);
      > span:first-child {
        color: var(--text-color);
        cursor: pointer;
        em {
          margin: 0 3px;
          font-style: normal;
          color: var(--danger-color);
        }
      }
      .ysd-btn {
        margin: 0 15px 0 43px;
      }
    }
  }
  .ysd-modal-footer {
    border-top: 1px solid var(--modal-title-border-color);
    padding-top: 22px;
  }
}
.#{$record-list-label} {
  &-header {
    border-bottom: 1px solid var(--tabs-line-border);
    padding-bottom: 20px;
    .ysd-form {
      display: flex;
      @include sfp.flex-gap((0, 16px));
      flex-wrap: wrap;
      .ysd-form-item {
        margin-bottom: 0px;
        width: auto;
        .fusion3-form-plate-form-input {
          width: 168px;
        }
        .ysd-form-item-content-value {
          width: 242px;
        }
        .ysd-form-item-content-value-input {
          justify-content: flex-end;
          .ysd-checkbox-wrapper {
            width: 100%;
          }
        }
      }
      .native-place {
        .place-box {
          position: relative;
          width: 100%;
          .unplace {
            position: absolute;
            top: -25px;
            right: 0;
            font-weight: 400;
            text-align: left;
            line-height: 22px;
            color: var(--form-label-color);
            font-size: var(--form-label-font-size);
          }
        }
      }
      .input-group {
        .ysd-input-wrapper {
          width: 112px;
        }
      }

      .search-groups-info {
        .search-items {
          display: flex;
          @include sfp.flex-gap((0, 16px));
          align-items: flex-end;
          .search-btn {
            margin-left: auto;
          }
        }
      }
      .search-group {
        box-shadow: var(--color-panel-box-shadow);
        padding: 10px;
        margin-top: 15px;
      }
    }
  }
  &-content {
    .result-header {
      margin-top: 15px;
      .header-left {
        display: flex;
        align-items: center;
        .back {
          width: 58px;
          height: 24px;
          font-size: 14px;
          font-weight: 400;
          color: #3377ff;
          line-height: 24px;
          border: 1px solid #3377ff;
          border-radius: 4px;
          margin-right: 10px;
          cursor: pointer;
        }
        span {
          color: #3377ff;
          margin: 0 5px;
        }
      }
      .header-right {
        display: flex;
        @include sfp.flex-gap((0, 15px));
      }
    }
    .ysd-tabs {
      width: 100%;
    }
    .result-data {
      margin-top: 10px;
      display: flex;
      @include sfp.flex-gap(5px);
      flex-wrap: wrap;
      .label-item {
        width: 290px;
        height: 200px;
        // background: #ffffff;
        border: 1px solid var(--tabs-line-border);
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        .label-header {
          background: url(../../../../assets/images/record/label-header-bg.png) no-repeat;
          padding: 16px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .label-name {
            width: 76px;
            height: 24px;
            background: rgb(255, 91, 77, 0.2);
            border-radius: 2px;
            color: #ff5b4d;
            text-align: center;
            line-height: 24px;
          }
          .label-time {
            opacity: 0.6;
            font-size: 14px;
            font-weight: 400;
            color: var(--color-text);
          }
        }
        .label-info {
          padding: 16px;
          .info-item {
            display: flex;
            height: 30px;
            font-size: 14px;
            font-weight: 400;
            color: var(--color-text);
            line-height: 22px;
            .label {
              width: 106px;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .result-content {
      padding-bottom: 20px;
      margin-top: 15px;
      .card-item-flex {
        flex-grow: 1;
        flex-shrink: 1;
        width: 426px;
        height: 0;
        margin-right: 18px;
        margin-bottom: 18px;
      }
    }
  }
}
.archives-container {
  height: 70vh;
  @include scrollBar();
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 5px;
  padding-right: 5px;
  .archives-item {
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--base-color1-10);
    padding: 10px;
    width: 208px;
    align-self: flex-start;
    line-height: 28px;
    .icon {
      position: absolute;
      right: -5px;
      top: -5px;
      font-size: 30px;
      cursor: pointer;
    }
    .ysd-image-wrapper {
      aspect-ratio: 1;
    }
    .name {
      font-weight: 700;
    }
    .id-number {
      color: var(--primary-color);
      cursor: pointer;
    }
  }
  .no-data {
    height: 100%;
    width: 100%;
    background: var(--result-no-data-img) no-repeat center;
  }
}