@import "../../../assets/css/mixin.scss";
$black-lists: "black-lists";
.#{$black-lists} {
  &-black-list-modal {
    padding-bottom: 0;
    .black-body {
      height: 770px;
      position: relative;
      .ysd-tabs {
        width: 100%;
      }
      .card-checked {
        position: absolute;
        left: 10px;
        top: 8px;
        z-index: 2;

        .ysd-checkbox {
          .ysd-checkbox-inner {
            width: 24px;
            height: 24px;
            &::after {
              left: 28%;
            }
          }
        }
      }
      .black-title {
        display: flex;
        margin-top: 10px;
        height: 19px;
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
        line-height: 22px;
        span {
          color: #3377ff;
          margin: 5px;
        }
        .ysd-tag {
          &:hover {
            background-color: var(--danger-color-10) !important;
            border: none;
            .ysd-tag-close-btn {
              color: #ff5b4d;
            }
          }
        }
      }
      .black-content {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        height: 620px;
        @include scrollBar();
        .card-person-item {
          flex: none;
        }
        .no-blackData {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: var(--resultbox-nodata-tip-color);
          font-size: 20px;
          img {
            width: 200px;
            height: 200px;
          }
        }
        .target-face-card {
          max-width: 300px;
          width: 210px;
          height: 300px;
          padding: 10px;
          margin-right: 18px;
          margin-bottom: 18px;
          background-color: var(--base-color2);
          border-radius: 4px;
          border: 1px solid var(--base-color1-10);
          position: relative;
          .image {
            height: 180px;
            margin-bottom: 12px;
            cursor: pointer;
          }
          .face-card-info {
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            .now-capture {
              margin: 5px 0;
            }
            .capture-num {
              cursor: pointer;
              .card-info-content span {
                color: #3377ff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .card-info {
              display: flex;
              height: 20px;
              .card-info-content {
                padding-left: 5px;
              }
            }
          }
        }
        .card-normal-item {
          flex: none;
          width: 210px;
          height: 310px;
        }
        .loading {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .black-footer {
        position: absolute;
        bottom: 0;
        height: 66px;
        width: 100%;
        border-top: 1px solid var(--base-color1-10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-left {
          display: flex;
          align-items: center;
          @include sfp.flex-gap(16px);

          .all-checked {
            display: flex;
            align-items: center;
            .ysd-checkbox-wrapper {
              margin-right: 10px;
            }
          }
          .checked-list {
            span {
              color: #ff5b4d;
              margin: 5px;
            }
          }
        }
      }
    }
  }
  &-cluter-modal {
    .cluter-body {
      position: relative;
      height: 620px;
      @include scrollBar();
      // padding-bottom: 50px;
      .title {
        span {
          color: #3377ff;
          margin: 5px;
        }
      }
      .content {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        .card-normal-item {
          flex: none;
          height: fit-content;
        }
        .ajax-loading {
          width: 100%;
          height: 500px;
          display: flex;
          justify-content: center;
        }
      }
      .cluter-pagination {
        position: absolute;
        right: 0;
        bottom: 10px;
      }
    }
    .ysd-modal-footer {
      border-top: 1px solid var(--modal-title-border-color);
      padding-top: 22px;
      margin-top: 0;
    }
  }
}
