$color-success: #22A824;
$color-error: #FF3D24;
$color-gray: #999999;
.cluecard-footer {
  margin: 0 -10px;
  height: 40px;
  line-height: 39px;
  // border-top: 1px solid var(--base-color1-10);
  padding: 0 23px;
  display: flex;
  gap: 0 16px;

  .ysd-link {
    padding: 0;
    line-height: 39px;
  }

  & > a:hover {
    text-decoration: underline !important;
  }
  .no-link{
    color: #999 !important;
    text-decoration: none !important;
  }
  .more-links-wrap {
    margin-left: auto;
    // margin-right: 10px;
  }
}
