$moreFilter: "more-filter";

.#{$moreFilter} {
  max-height: 32px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  // position: relative;

  &-btn {
    width: 100%;
    color: var(--primary-color);
    &-toggle {
      width: 100%;
      text-align: right;
      .ysd-icon {
        margin-left: 4px;
        font-size: 11px;
      }
      > span {
        cursor: pointer;
      }
    }
  }
  &.toggle {
    max-height: 400px;
  }
}
