@import "@/assets/css/mixin";
$image: "yitu-image";
$firstPng: "~@/assets/images/image/yitu-first-coming.png";
$noDataPng: "~@/assets/images/image/target-nodata.png";

.#{$image} {
  .page-top {
    padding: 16px 16px 0 16px;
    @include scrollBar();
    max-height: calc(100% - 65px);
    .retrieval {
      .search {
        &-affix {
          height: 162px;
          margin-bottom: 4px;
        }
        &-img {
          height: 162px;
          padding: 16px;
          border-radius: var(--border-radius);
          box-shadow: var(--color-panel-box-shadow);
          // background: var(--image-top-bg) no-repeat;
          // background-size: contain;
          // background-position: right;
          display: flex;
          //悬浮窗
          &.affix {
            position: absolute;
            z-index: 3;
            // width: 1000px;
            top: 0;
            background-color: var(--layout-vertical-content-body-bg-color);
            box-shadow: 0px 0px 6px 0px rgba(34, 34, 38, 0.18);
            .search-img-tip {
              flex: none;
              margin-left: 20px;
            }
          }
          &-type {
            margin-right: 16px;
            .type-item {
              writing-mode: vertical-lr;
              height: 64px;
              padding: 13px 7px;
              text-align-last: justify;
              cursor: pointer;
              &:first-child {
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
                border: 1px solid var(--base-color1-30);
                border-bottom-style: none;
              }
              &:last-child {
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
                border: 1px solid var(--base-color1-30);
                border-top-style: none;
              }
              &.active {
                color: #fff;
                background: var(--primary-color);
                border-color: var(--primary-color);
              }
            }
          }
          &-tip {
            flex: auto;
            font-size: 17px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            > span {
              text-align: right;
            }
          }
        }
        .retrieval-form {
          display: flex;
          align-items: unset;
          .ysd-space-item {
            width: auto;
            margin-bottom: 16px;

            .ysd-checkbox-wrapper {
              height: 26px;
              align-self: flex-end;
            }

            .yitu-search-item {
              height: 100%;
              .ysd-form-item-content {
                width: 242px;
                &-label {
                  line-height: 32px;
                }
                &-value {
                  height: 32px;
                  .ysd-slider-wrapper {
                    height: unset;
                  }
                }
              }
            }
            &:nth-child(4) {
              align-self: flex-end;
            }
            &:last-child {
              margin-left: auto;
              align-self: flex-end;
            }
          }
          .ysd-picker {
            // width: 100%;
            .ysd-picker-range-separator {
              padding: 0 4px;
            }
          }

          .retrieval-btn {
            .ysd-space-item{
              margin-bottom: 0;
              
            }
          }
        }
      }
      .ysd-divider {
        margin: 0 0 16px 0;
      }
      .filter {
        .result-group-filter-show {
          margin-bottom: 16px;
        }
      }
    }
    .outcomes {
      &-header {
        margin-bottom: 16px;
        .result-header-right {
          .ysd-btn {
            font-size: 12px;
            padding: 0 16px;
            min-width: auto;
            line-height: 32px;
            .ysd-icon {
              font-size: 10px;
              width: 3px;
              color: var(--base-color1-30);
              &.active {
                color: var(--primary-color);
              }
            }
          }
        }
      }
      &-wrapper {
        .result-group {
          .result-card-list-row {
            display: flex;
            justify-content: space-between;

            > div {
              &:last-child {
                margin-right: 0;
              }
            }
          }
          //针对目标和身份的宽度做限制
          .card-item-flex {
            flex: auto;
            margin-right: 18px;
            margin-bottom: 18px;
            width: 182px;
            &.person {
              width: 436px;
            }
          }
        }
        .filter {
          margin-bottom: 16px;
        }
        .ysdb-result-box-nodata {
          .ysdb-result-box-nodata-tip {
            margin-bottom: 20px;
          }
        }
        .see-more {
          text-align: center;
          padding-bottom: 16px;

          &-con {
            width: 180px;
            margin: 0 auto;
            color: var(--primary-color);
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            background: var(--panel-header-bg);

          }
        }
      }
    }
  }
  .page-bottom {
    .left {
      height: 32px;
      display: flex;
      align-items: center;
      > span.disabled {
        cursor: not-allowed;
      }
    }
  }
}

.similarity-container-modal {
  .ysd-tabs.ysd-tabs-line {
    margin-bottom: 16px;
    width: 100%;
  }
  .similarity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-height: 80vh;
    height: 472px;
    @include scrollBar();
    &-item {
      border-radius: 4px;
      margin-right: 16px;
      margin-bottom: 16px;
      flex: none;
      display: flex;
      align-items: center;
      height: 220px;
      width: 495px;
      border: 1px solid var(--base-color1-30);
      padding: 10px;
      .image {
        position: relative;
        flex: 1 1 0;
        height: 100%;
        &::before {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 70px;
          height: 24px;
          line-height: 24px;
          background: var(--image-gait-number-bg);
          text-align: center;
          border-radius: 4px 0 10px 0;
          color: #fff;
        }
        .gait-number {
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 0px 4px 0px 10px;
          background: var(--image-gait-number-bg);
          color: #fff;
          padding: 0 8px;
          line-height: 24px;
          font-size: 12px;
          .ysd-icon {
            margin-right: 5px;
            font-size: 14px;
          }
        }
        &.target {
          cursor: pointer;
        }
      }
      &:nth-child(even) {
        margin-right: 0;
      }

      .similarity {
        height: 26px;
        line-height: 26px;
        margin: 0 10px;
        display: inline-block;
        width: 60px;
        flex: none;
        text-align: center;
        border-radius: 4px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          height: 6px;
          width: 100%;
          background: var(--layout-vertical-content-body-bg-color);
          bottom: 2px;
          left: 0;
          box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
          z-index: 0;
        }
        em {
          position: relative;
          z-index: 2;
          font-style: normal;
          color: var(--danger-color);
          font-weight: 700;
          &:first-child {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.image-switch-gait {
  .ysd-modal-content {
    padding-top: 50px;
    padding-bottom: 18px;
    text-align: center;
    .ysd-icon {
      color: var(--warning-color);
      margin-right: 10px;
    }
  }
  .ysd-modal-footer {
    border-top: 1px solid var(--base-color1-20);
    padding-top: 20px;
  }
}
