@import "@/assets/css/mixin";
.message-stack {
  @include scrollBar();
  margin-top: 1em;
  .ysd-timeline-item-content-wrapper {
    padding-bottom: 2px;
  }
  .ysd-timeline-item-dot {
    padding: 2px;
    box-shadow: 0px 0px 10px 0px var(--primary-color-85);
  }
}
