@import "~@/assets/css/mixin.scss";
.map-around-point {
  width: 100%;
  height: 100%;
  position: relative;

  &-range {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 14px;
    z-index: 1001;
    background-color: var(--modal-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--base-color1);
    display: flex;

    .label {
      color: var(--base-color1-65);
      line-height: 24px;
    }

    .ysd-tabs {
      border-bottom: none;
      .ysd-tabs-item {
        width: 46px;
        min-width: 46px;
        height: 24px;
        line-height: 24px;
        padding: 0;
      }
      .ysd-tabs-bar {
        width: 16px !important;
        margin-left: 15px;
      }
    }
  }
  .check-target {
    width: 137px;
    height: 36px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    line-height: 34px;
    position: absolute;
    top: 60px;
    z-index: 2000;
    left: 10px;
    text-align: center;
    color: var(--primary-color);
    cursor: pointer;
  }
  .tools-wrapper {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 2000;
    border-radius: 4px;
    box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
    background: var(--modal-bg-color);
    width: 278px;
    color: var(--text-color);
    padding: 10px;
    .title {
      font-weight: 700;
      line-height: 20px;
    }
    .tools-item {
      margin-bottom: 10px;
      .draw-tools {
        border: 1px solid var(--base-color1-30);
        padding: 5px 8px;
        border-radius: 4px;
        font-size: 24px;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        .ysd-icon {
          margin: 0 8px;
          cursor: pointer;
          opacity: 0.5;
        }

        .active {
          color: var(--primary-color);
          .ysd-icon {
            opacity: 1;
          }
        }
      }
      &.btn{
        margin-top: 24px;
        .ysd-form-item-content-value-input{
          justify-content: center;
        }
      }
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    position: relative;

    .error-message {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1001;
      width: 100%;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-weight: bold;
      background-color: var(--danger-color-15);
      color: var(--danger-color);
    }

    .ysc-map-container {
      .ysc-map-popup {
        width: 242px !important;

        .ysc-map-popup-inner {
          border-radius: 4px;
          .location-item {
            display: flex;
            line-height: 24px;

            .ysd-icon {
              margin-right: 5px;
            }

            .location-name {
              width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .copy {
              margin: 0;
              color: var(--primary-color);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .map-around-point-popup {
    max-height: 200px;
    @include scrollBar();
    background-color: var(--drawer-bg-color);
  }
}
