$record-num-body: "record-num-body";
.#{record-num-body} {
  background: var(--record-search-bg);
  // padding: 130px 186px 0;
  // height: 100%;
  width: 1280px;
  margin: 0 auto;

  .back-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 132px;
    height: 54px;
    text-align: center;
    border: 1px solid var(--modal-title-border-color);
    font-size: 26px;
    font-weight: 400;
    line-height: 54px;
    cursor: pointer;
    border-radius: 4px;
    .ysd-icon {
      margin-right: 10px;
    }
  }
  .title {
    // height: 71px;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
    color: var(--text-color);
    letter-spacing: 6.48px;
  }
  .total-data {
    display: flex;
    margin-top: 80px;
    @include sfp.flex-gap((0, 20px));
    .total-item {
      width: 100%;
      // height: 472px;
      border-radius: 12px;
      padding-top: 70px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      .total-img {
        width: 161px;
        height: 115px;
        position: absolute;
        top: -40px;
      }
      img {
        position: absolute;
        top: -40px;
      }
      .total-type {
        height: 47px;
        font-size: 30px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: left;
        color: var(--text-color);
        letter-spacing: 2.16px;
        // padding-left: 10px;
        margin-left: -15px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        .type-info {
          height: 24px;
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          color: var(--base-color1-50);
          letter-spacing: 1.08px;
          margin-left: 5px;
          position: absolute;
          left: 270px;
        }
      }
      // .total-num {
      //   width: 100%;
      //   height: 91px;
      //   font-weight: 400;
      //   text-align: center;
      //   font-family: Microsoft YaHei, Microsoft YaHei-Bold;
      //   color: #5165ff;
      //   letter-spacing: 4.2px;
      //   font-size: 28px;
      //   margin-top: 30px;
      //   margin-bottom: 30px;
      //   .num {
      //     font-size: 50px;
      //     font-family: YouSheBiaoTiHei, YouSheBiaoTiHei-Regular;
      //   }
      // }
      .bottom-num {
        // margin: 0 30px;
        // height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .num-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: -15px;
          width: calc(100% + 30px);
          line-height: 30px;
          // margin: 5px 0;
          .label {
            // height: 29px;
            font-size: 18px;
            font-weight: 400;
            color: var(--text-color);
            letter-spacing: 1.32px;
            margin-right: 6px;
          }
          .value {
            // height: 42px;
            font-size: 24px;
            font-family: Microsoft YaHei, Microsoft YaHei-Bold;
            font-weight: 700;
            color: var(--text-color);
            letter-spacing: 0.96px;
          }
        }
      }
    }
    .total-carNum {
      background: linear-gradient(
        131deg,
        rgba(0, 88, 204, 0.06) 5%,
        rgba(0, 88, 204, 0) 49%,
        rgba(0, 88, 204, 0.06) 96%
      );
      .bottom-num {
        // border-top: 1px solid rgba(182, 212, 252, 1);
      }
      .total-img {
        background: var(--import-car-big-bg);
      }
    }
    .total-personNum {
      background: linear-gradient(
        133deg,
        rgba(154, 116, 191, 0.06) 0%,
        rgba(154, 116, 191, 0) 50%,
        rgba(154, 116, 191, 0.06)
      );
      .bottom-num {
        // border-top: 1px solid rgba(222, 219, 253, 1);
      }
      .total-img {
        background: var(--import-person-big-bg);
      }
    }
    .total-activePerson {
      background: linear-gradient(
        131deg,
        rgba(52, 199, 233, 0.06) 5%,
        rgba(52, 199, 233, 0) 49%,
        rgba(52, 199, 233, 0.06) 96%
      );
      .total-num {
        color: rgba(52, 199, 233, 1);
      }
      .bottom-num {
        // border-top: 1px solid rgba(52, 199, 233, 1);
      }
      .total-img {
        background: var(--active-big-bg);
      }
    }
  }
}
