.card-target-item {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  background-color: var(--base-color2);
  border-radius: 4px;
  border: 1px solid var(--base-color1-10);
  display: flex;
  &:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  }
  .item-img {
    width: 208px;
    height: 130px;
    flex: none;
  }
  .item-info {
    flex: auto;
    width: calc(100% - 220px);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .card-info {
      line-height: 26px;
      &-label {
        display: flex;
        align-items: center;
      }
      &-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ysd-icon {
        opacity: 0.7;
        margin-right: 6px;
      }
    }
  }
}
