proxy = http://192.168.16.5:7777/
@yisa:registry=http://192.168.4.149:7002
# registry = https://registry.npmjs.org/
registry = https://registry.npmmirror.com/
sass_binary_site=https://repo.huaweicloud.com/node-sass/
strict-ssl = false
