@import "@/assets/css/mixin.scss";
.warning-detail {
  .ysd-link:hover {
    background-color: transparent;
  }
  padding: 16px;
  height: 100%;
  width: 100%;
  .float-card {
    position: relative;
    .prev,
    .next {
      z-index: 1000;
      position: absolute;
      top: 50%;
      margin-top: -23px;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 6px 18px 0px rgba(113, 117, 137, 0.15);
      color: #fff;
      width: 16px;
      height: 46px;
      border-radius: 2px;
      line-height: 46px;
      text-align: center;
      cursor: pointer;
    }
    .next {
      right: 0;
    }
    .close {
      cursor: pointer;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .capture-list {
    display: grid;
    gap: 8px;
  }
  .total-record {
    line-height: 45px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
    border-top: 1px solid rgba(34, 34, 38, 0.2);
    em {
      font-style: normal;
      margin: 0 3px;
      color: var(--primary-color);
    }
    .ysd-btn-md {
      height: 28px;
      line-height: 28px;
      padding: 0;
      width: 60px;
      min-width: 0;
    }
    .ysd-select {
      width: 134px;
      border: none;
      .ysd-select-view {
        min-height: 0;
        height: 45px;
        line-height: 45px;
      }
    }
  }
}
