.deploy-warning-card {
  overflow: hidden;
  width: 343px;
  height: 343px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--base-color2);
  border-radius: 4px;
  border: 1px solid var(--base-color1-10);
  &-checked {
    border: 1px solid var(--primary-color);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    height: 30px;
    h4 {
      font-weight: bold;
    }
  }
  main {
    border-radius: 4px;
    border-top: 1px solid var(--base-color1-10);
    padding: 8px;
    background-color: var(--base-color2);
    .images {
      cursor: pointer;
      position: relative;
      display: grid;
      gap: 7px;
      grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));

      .ysd-image-wrapper,
      .ysdb-img-zoom {
        height: 160px;
        width: 100%;
      }
      .checkbox {
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 2;

        .ysd-checkbox {
          .ysd-checkbox-inner {
            width: 24px;
            height: 24px;
            &::after {
              left: 28%;
            }
          }
        }
      }
      .img-item {
        position: relative;
        .tip {
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 0px 10px 0 4px;
          color: #fff;
          line-height: 20px;
          padding: 0 6px;
          font-size: 12px;
        }
      }
    }
    .similarity {
      margin: 0;
      border-color: var(--danger-color);
      .ysd-statistic {
        .undefined-content-value-int {
          color: var(--danger-color);
          font-size: 20px;
          font-weight: bold;
        }
        .ysd-statistic-content-suffix,
        .undefined-content-value-decimal {
          color: var(--danger-color);
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }
      }
    }
    .plate {
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .link {
        padding: 0;
        cursor: default;
      }
    }
    .info {
      display: grid;
      align-content: center;
      gap: 6px;
      .item {
        overflow: hidden;
        display: flex;
        align-items: center;
        @include sfp.flex-gap((0, 4px));
      }
      .ysd-icon {
        opacity: 0.7;
      }
      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .person-info {
      display: flex;
      align-items: center;
    }
  }
  footer {
    .card-footer {
      padding: 0 10px;
    }
  }
}
.deploy-warning-card-list {
  display: grid;

  grid-template-columns: repeat(auto-fill, 343px);
  gap: 10px;
  justify-content: space-around;
}
