@import "../../assets/css/mixin.scss";
.colorful-label1 {
  white-space: nowrap;
  // width: 80px;
  // padding: 0 5px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  height: 24px;
  line-height: 24px;
  &-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.colorful-container1 {
  @include tag-item();
  display: flex;
  @include sfp.flex-gap(2px);
  position: relative;
  &-center {
    // justify-content: center;
    padding: 0;
    text-overflow: ellipsis;
  }
  span {
    padding: 0 5px;
  }
  .ellipsis {
    white-space: nowrap;
    width: auto ;
  }
  .placeholder {
    position: absolute;
    top: 0;
    visibility: hidden;
  }
  .more {
    width: 40px;
  }
}
.popover-card {
  // background-color: black;
  max-width: 272px;
  // display: flex;
  .ysd-popover-inner-content-content {
    @include tag-item();
    display: flex;
    flex-wrap: wrap;
    @include sfp.flex-gap(2px);
    span{
      padding: 0 8px;
    }
  }
}
