@import "~@/assets/css/mixin.scss";
.double-map-around-point {
  width: 100%;
  height: 100%;
}
.ysd-modal-wrapper.double-map-around-point-modal{
  z-index: 2022;
  .ysd-modal-content{
    height: 85vh;
  }
}
