@import "@/assets/css/mixin";
$doublecar: "vehicle-doublecar";
$firstPng: "~@/assets/images/image/yitu-first-coming.png";
$noDataPng: "~@/assets/images/image/target-nodata.png";

.#{$doublecar} {
  .page-top {
    padding: 16px 16px 0 16px;
    @include scrollBar();
    max-height: calc(100% - 65px);
    .retrieval {
      .search {
        .ysd-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          @include sfp.flex-gap((0, 14px));
          position: relative;
          &-item {
            width: auto;
            margin-bottom: 16px;
            //输入框
            &.backtrack-time {
              .ysd-form-item-content-value {
                width: 242px;
              }
            }
            //下拉框
            .ysd-select {
              width: 242px;
            }
            //按钮
            .location-map-list-btn {
              width: 242px;
            }
            //时间
            &.time-range-picker {
              .ysd-form-item-content-value-input {
                .ysd-space-item:first-child {
                  .ysd-select{
                    padding:0 6px;
                    width: 64px !important;
                  }
                }
              }
            }
          }
          .fusion3-form-plate-form-input {
            width: 168px;
            .ysd-input-inner {
              border-radius: 0 4px 4px 0;
              border-left: none;
            }
          }
        }
      }
      .ysd-divider {
        margin: 0 0 16px 0;
      }
      .filter {
        .result-group-filter-show {
          margin-bottom: 16px;
        }
      }
    }
    .outcomes {
      &-header {
        margin-bottom: 16px;
        .result-header-right {
          font-size: 12px;
          .ysd-radio-group.ysd-radio-group-middle {
            height: 32px;
            .ysd-radio-button-wrapper {
              height: 32px;
              padding: 0 16px;
            }
          }
          .fusion3-export-btn-wrap .ysd-btn {
            min-width: auto;
            padding: 0 16px;
          }
        }
      }
      &-wrapper {
        .result-group {
          display: flex;
          flex-wrap: wrap;
          // display: grid;
          // grid-template-columns: repeat(auto-fill,minmax(427px,1fr));
        }
        .ysdb-result-box-nodata {
          margin-top: 16vh;
        }
        .target-table {
          .ysd-image-wrapper {
            margin: 0 auto;
            width: 85px;
            height: 32px;
            .ysd-icon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .page-bottom {
    .left {
      height: 32px;
      display: flex;
      align-items: center;
    }
  }
}
.doublecar-list-item-card {
  position: relative;
  width: 100%;
  height: 100%;
  .sign {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px 0px 10px 0px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0 8px;
    line-height: 24px;
    font-size: 12px;
  }
}
.img-info-view-content-content{
  border: none;
  .foothold-img-right-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    .yisa-panel {
      .searchperson-card,.target-info-content {
        margin: 0 16px;
      }
    }
  }
}
